{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Report - fhc{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Report</h1>
        {% if app.user.isAdmin == true %}
            <div class="pull-right">
                <button onclick="location.href='{{ path('_core_pdf_generate', {'userId': app.request.get('userId')}) }}'" title="Generate Report" class="btn btn-primary" type="button">
                    <i class="fa fa-download"></i> Generate Report
                </button>
            </div>

        {% else %}

            {% set actions = [] %}

            {% set permittedModules = app.session.get('modules') %}
            {% set moduleActions = [] %}
            {% set keyForModule = 'manageClient' %}

            {% if permittedModules|length>0 and permittedModules[keyForModule] is defined and permittedModules[keyForModule]|length>0 %}



                {% set moduleActions = permittedModules[keyForModule] %}
                {% if moduleActions['slug'] is defined and moduleActions['slug']|length>0 %}
                    {% set actions = moduleActions['slug'] %}
                {% endif %}
            {% endif %}

            {% if actions is defined and actions|length>0 %}
                {% if 'pdfGenerate' in actions %}
                    <div class="pull-right">
                        <button onclick="location.href='{{ path('_core_pdf_generate', {'userId': app.request.get('userId')}) }}'" title="Generate Report" class="btn btn-primary" type="button">
                            <i class="fa fa-download"></i> Generate Report
                        </button>
                    </div>
                {% endif %}
            {% endif %}

        {% endif %}
    </div>
	
	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}

    <div class="row">
        <div class="col-md-12">
			<ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
				{% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
					<li class="active">
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					<li class="active">
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
				{% endif %}
			</ul>
            {% include 'CoreBundle::globalMessage.html.twig'%}

            <div class="showHideColumn">&nbsp;</div>

            <div class="table-primary">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
                    <thead>
                        <tr>
                            <th>File name</th>
                            <th>Custom File Name</th>
                            <th>Date Generated</th>
							<th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="hide">
		<div id="userListTitle">Goal Reports</div>
		<div id="ajaxListUrl">{{ path('_core_goal_report_list_ajax', {'userId': userId}) }}</div>
    </div>
    <form id="reportFrm" name="reportFrm" action="" method="POST"></form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/goalsReport.js') }}"></script>
{% endblock %}