{% extends 'CoreBundle::2columns-left.html.twig' %}

{%block metaTitle%}accessDenied{%endblock%}

{%block content %} 
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
					<div class="alert alert-danger">
						<i class="fa fa-ban"></i>
						accessDenied
					</div>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
        </div>
	</div><!-- /.row -->
	
{% endblock %}