{% extends 'CoreBundle::1column-customer.html.twig' %}
{% block content -%}
	<!-- 
	<div class="page-header">
		<h1><i class="fa fa-th-large page-header-icon"></i>&nbsp;&nbsp;Alerts</h1>
	</div>
	 -->
	<div class="row"> 
	
		<div class="col-xs-6 col-sm-4 dash-blocks inactive">
			<a href="javascript:void(0)">
				<div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-statistics41'></span>
					</div>
					<!-- Big text -->
					<span class="">kpiDashboard</span><br>
					<!-- Small text -->
				</div> <!-- /.stat-panel -->
			</a>
		</div>
 
		<div class="col-xs-6 col-sm-4 dash-blocks">
			<a href="{{ path('_core_customer_vehicle_list') }}">
				<div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-car80' >
							<!-- Extra large text -->
							<span class="text-patch"><strong>{{ vehicles|length }}</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">Vehicle</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
				</div> <!-- /.stat-panel -->
			</a>
		</div>

      
		<div class="col-xs-6 col-sm-4 dash-blocks">
			<a href="{{ path('_core_customer_driver_list') }}">
				<div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-avatar23' >
							<!-- Extra large text -->
							<span class="text-patch"><strong>{{ drivers|length }}</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">Driver List</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
				</div> <!-- /.stat-panel -->
			</a>
		</div> 
        
		<div class="col-xs-6 col-sm-4 dash-blocks">
			<a href="{{ path('_core_customer_vehicle_order_list') }}">
				<div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-package8' >
							<!-- Extra large text -->
							<span class="text-patch"><strong>{{ vehicleOrders|length }}</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">orders</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
				</div> <!-- /.stat-panel -->
			</a>
		</div>
 
        <div class="col-xs-6 col-sm-4 dash-blocks inactive">
            <a href="javascript:void(0)">
                <div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-wallet33'>
							<!-- Extra large text -->
						</span>
					</div>
					<!-- Big text -->
					<span class="">Financial</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
                </div> <!-- /.stat-panel -->
            </a>
        </div>
        
        
        {% set vehiclesContractToBeExpireCount = 0 %}
		
		{% if vehiclesContractToBeExpire is defined and vehiclesContractToBeExpire|length > 0 %}
			
			{% set vehiclesContractToBeExpire = vehiclesContractToBeExpire.0 %}
			
			{% set vehiclesContractToBeExpireCount = vehiclesContractToBeExpire.leaseContractTotal + vehiclesContractToBeExpire.fuelContractTotal + vehiclesContractToBeExpire.onRentContractTotal + vehiclesContractToBeExpire.leaseContractLimitedTotal %}
		{% endif %}
        
        
        
        <div class="col-xs-6 col-sm-4 dash-blocks">
            <a href="{{ path('_core_customer_vehicle_contract_to_expire') }}">
                <div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-time36'>
							<!-- Extra large text -->
							<span class="text-patch"><strong>{{ vehiclesContractToBeExpireCount }}</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">Uitlopende leasecontracten</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
                </div> <!-- /.stat-panel -->
            </a>
        </div>
        
		<div class="col-xs-6 col-sm-4 dash-blocks">
            <a href="{{ path('_core_customer_vehicle_apk_date_expiry') }}">
                <div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-vehicle18' >
							<!-- Extra large text -->
							<span class="text-patch"><strong>{{ vehiclesWithNearbyApkExpiry|length }}</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">apk</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
                </div> <!-- /.stat-panel -->
            </a>
        </div>  
        
		<div class="col-xs-6 col-sm-4 dash-blocks inactive">
            <a href="javascript:void(0)">
                <div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-fuel14' >
							<!-- Extra large text -->
						</span>
					</div>
					<!-- Big text -->
					<span class="">tankingen</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
                </div> <!-- /.stat-panel -->
            </a>
        </div>  
        
		<div class="col-xs-6 col-sm-4 dash-blocks inactive">
            <a href="javascript:void(0)">
                <div class="panel-container">
					<!-- Stat panel bg icon -->
					<div class='icon-s'>
						<span class='icon icon-car123' >
							<!-- Extra large text -->
							<span class="text-patch"><strong>10</strong></span><br>
						</span>
					</div>
					<!-- Big text -->
					<span class="">bekeuringen</span><br>
					<!-- Small text -->
					<span class="text-sm">&nbsp;</span>
                </div> <!-- /.stat-panel -->
            </a>
        </div> 
        
		<div class="col-xs-6 col-sm-4 dash-blocks inactive">
            <a href="javascript:void(0)">
                <div class="panel-container">
                    <div>
                        <!-- Stat panel bg icon -->
						<div class='icon-s'>
							<span class='icon icon-collision'>
								<!-- Extra large text -->
								<span class="text-patch"><strong>10</strong></span><br>
							</span>
						</div>
                        <!-- Big text -->
                        <span >Schades</span><br>
                        <!-- Small text -->
                        <span class="text-sm">&nbsp;</span>
                    </div> <!-- /. -->
                </div> <!-- /.stat-panel -->
            </a>
        </div>        
		
	</div>
{% endblock %}