{% extends 'CoreBundle::2columns-left-customer.html.twig' %}

{% block metaTitle %}vehiclesContractToBeExpire - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header hide">
        <h1>vehiclesContractToBeExpire</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>status</th>
							<th>orderStatus</th>
							<th>licensePlate</th>
                            <th>brand</th>
                            <th>model</th>
                            <th>vehicleType</th>
                            <th>Cost Place</th>
                            <th>employee id</th>
                            <th>Driver</th>
                            <th>contactPerson</th>
                            <th>supplier</th>
                            <th>contractType</th>
                            <th>contractNumber</th>
                            <th>startDate</th>
                            <th>endDateContract</th>
                            <th>duration</th>
                            <th>costLeaseTerm</th>
                            <th>costFuelTerm</th>
                            
						</tr>
					</thead>
					<tbody>
						{% set countVehicleContractToBeExpire = 0 %}
						
						{% if vehiclesContractToBeExpire is defined and vehiclesContractToBeExpire|length > 0 %}
						
                            {% set userAllAccess = 0|getUserAccess %}
							{% set contactPerson = '-' %}
							
							{% for vehicle in vehiclesContractToBeExpire %}
							
									{% if vehicle.vehicleCostAllocation|length > 0 %}
									
										{% set contactPerson = vehicle|getcostAllocationContactPerson('vehicle') %}
                                        {% set vehicleCostPlaceBreadcrumb = vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}
									
										{# 
											
											{% set vehicleCostAllocationId = vehicle.vehicleCostAllocation.0.costAllocation.id %}
											
											{% set vehicleCostPlace = vehicle.id|getActiveCostAllocation('vehicle') %}
											
											{% if vehicleCostPlace.costAllocation is defined %}
											
												{% set vehicleCostPlaceBreadcrumb = vehicleCostPlace.costAllocation.id|costAllocationBreadcrumb %}
												
												{% if vehicleCostPlace.costAllocation.contactPerson is defined and vehicleCostPlace.costAllocation.contactPerson|length >0 %}
												
													{% set contactPerson = vehicleCostPlace.costAllocation.contactPerson.name %}
												{% endif %}
												
											{% endif %}
										#}
										
									{% endif %}
									
									{% set vehicleOrderStatus =  '-' %}
									
									{% if vehicle.newVehicleOrder is defined and vehicle.newVehicleOrder|length > 0 %}
													
										{% set vehicleOrderStatus =  vehicle.newVehicleOrder.0.orderStatus.name %}
										
									{% endif %}
									
									{# {% set userVehicleAccess = userAllAccess|checkUserAccess(vehicleCostAllocationId, 'edit') %} #}
									
									{% set userVehicleAccess = true %}
									
									{% set status = vehicle.status == 1 ? 'Active' : 'In Active' %}
										
										{% if vehicle.leaseContract is defined and vehicle.leaseContract|length > 0 %}
										
											{% set leaseContract = vehicle.leaseContract.0 %}
											
											{% set countVehicleContractToBeExpire = countVehicleContractToBeExpire + 1 %}
										
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'lease',  'contractId' : leaseContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
										
											<tr id="{{ editPath }}" class="rowVehicle">
												<td>
													{{ status|trans }}
												</td>					
												<td>
													{{ vehicleOrderStatus }}
												</td>
												<td>
													<a href="{{ path('_core_customer_vehicle_list') }}?filter={{ vehicle.licensePlate }}">										
														<u>{{ vehicle.licensePlate }}</u></a>
													</a>
												</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicle.model!='' ? vehicle.model : '-' }}</td>
												<td>{{ vehicle.vehicleType }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
												{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
														
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver.employeeId }}</u></a>
															
														{% else %}
															-
														{% endif %}
														
													{% else %}
														-
													{% endif %}
												</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver|driverFullName }}</u></a>
														{% else %}
															-
														{% endif %}
													
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ leaseContract.supplier.name }}</td>
												<td>lease</td>
												<td>{{ leaseContract.contractNumber }}</td>
												<td>{{ leaseContract.startDate|date('d-m-Y') }}</td>
												<td>{{ leaseContract.endDate|date('d-m-Y') }}</td>
												<td>{{ leaseContract.duration }}</td>
												<td>&euro; {{ leaseContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ leaseContract.costFuelTerm|number_format(2, ',', '.') }}</td>
													
											 
											</tr>
											
										{% endif %}
										
										{% if vehicle.fuelContract is defined and vehicle.fuelContract|length > 0 %}
										
											{% set fuelContract = vehicle.fuelContract.0 %}
											{% set countVehicleContractToBeExpire = countVehicleContractToBeExpire + 1 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'fuel',  'contractId' : fuelContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
											
											<tr id="{{ editPath }}" class="rowVehicle">
												<td>
													{{ status|trans }}
												</td>
												<td>
													{{ vehicleOrderStatus }}
												</td>
												<td>
													<a href="{{ path('_core_customer_vehicle_list') }}?filter={{ vehicle.licensePlate }}">										
														<u>{{ vehicle.licensePlate }}</u></a>
													</a>
												</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicle.model!='' ? vehicle.model : '-' }}</td>
												<td>{{ vehicle.vehicleType }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
														
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver.employeeId }}</u></a>
															
														{% else %}
															-
														{% endif %}
														
													{% else %}
														-
													{% endif %}
												</td>												
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver|driverFullName }}</u></a>
														{% else %}
															-
														{% endif %}
													
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ fuelContract.supplier.name }}</td>
												<td>fuel</td>
												<td>{{ fuelContract.contractNumber }}</td>
												<td>{{ fuelContract.startDate|date('d-m-Y') }}</td>
												<td>{{ fuelContract.endDate|date('d-m-Y') }}</td>
												<td>{{ fuelContract.duration }}</td>
												<td>&euro; {{ fuelContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ fuelContract.costFuelTerm|number_format(2, ',', '.') }}</td>
													
											 
												
											</tr>
											
										{% endif %}
										
										{% if vehicle.leaseContractLimited is defined and vehicle.leaseContractLimited|length > 0 %}
											
											{% set leaseContractLimited = vehicle.leaseContractLimited.0 %}
											{% set countVehicleContractToBeExpire = countVehicleContractToBeExpire + 1 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'leasecontractlimited',  'contractId' : leaseContractLimited.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
											
											<tr id="{{ editPath }}" class="rowVehicle">
												<td>
													{{ status|trans }}
												</td>
												<td>
													{{ vehicleOrderStatus }}
												</td>
												<td>
													<a href="{{ path('_core_customer_vehicle_list') }}?filter={{ vehicle.licensePlate }}">										
														<u>{{ vehicle.licensePlate }}</u></a>
													</a>
												</td> 
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicle.model!='' ? vehicle.model : '-' }}</td>
												<td>{{ vehicle.vehicleType }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td> 
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
														
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver.employeeId }}</u></a>
															
														{% else %}
															-
														{% endif %}
														
													{% else %}
														-
													{% endif %}
												</td>												
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver|driverFullName }}</u></a>
														{% else %}
															-
														{% endif %}
													
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ leaseContractLimited.supplier.name }}</td>
												<td>leaseContractLimited</td>
												<td>{{ leaseContractLimited.contractNumber }}</td>
												<td>{{ leaseContractLimited.startDate|date('d-m-Y') }}</td>
												<td>{{ leaseContractLimited.endDate|date('d-m-Y') }}</td>
												<td>{{ leaseContractLimited.duration }}</td>
												<td>&euro; {{ leaseContractLimited.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ leaseContractLimited.costFuelTerm|number_format(2, ',', '.') }}</td>
													
											 
												
											</tr>
										
										{% endif %}
										
										{% if vehicle.onRentContract is defined and vehicle.onRentContract|length > 0 %}
										
											{% set onRentContract = vehicle.onRentContract.0 %}
											{% set countVehicleContractToBeExpire = countVehicleContractToBeExpire + 1 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'onrent',  'contractId' : onRentContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
										
											<tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
												<td>
													{{ status|trans }}
												</td>
												<td>
													{{ vehicleOrderStatus }}
												</td>
												<td>
													<a href="{{ path('_core_customer_vehicle_list') }}?filter={{ vehicle.licensePlate }}">										
														<u>{{ vehicle.licensePlate }}</u></a>
													</a>
												</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicle.model!='' ? vehicle.model : '-' }}</td>
												<td>{{ vehicle.vehicleType }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
														
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver.employeeId }}</u></a>
															
														{% else %}
															-
														{% endif %}
														
													{% else %}
														-
													{% endif %}
												</td>												
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
														
														{% if vehicle.allocation.0.driver and vehicle.allocation.0.driver|length > 0 %}
														
															<a href="{{ path('_core_customer_driver_list') }}?filter={{ vehicle.allocation.0.driver.employeeId }}"><u>{{ vehicle.allocation.0.driver|driverFullName }}</u></a>
														{% else %}
															-
														{% endif %}
													
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ onRentContract.supplier.name }}</td>
												<td>onrent</td>
												<td>{{ onRentContract.contractNumber }}</td>	
												<td>{{ onRentContract.startDate|date('d-m-Y') }}</td>
												<td>{{ onRentContract.endDate|date('d-m-Y') }}</td>
												<td>{{ onRentContract.duration }}</td>
												<td>&euro; {{ onRentContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>-</td>  
											</tr>
											
										{% endif %}
								
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<form id="vehicleFrm" name="vehicleFrm" action="" method="POST"></form>
        </div>
    </div>
    <div id="vehiclesContractToExpire" class="hide"><strong>{{countVehicleContractToBeExpire}}</strong> vehiclesContractToBeExpire</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/dataTables/dataTables.colReorder.min.js') }}"></script>
	<script src="{{ asset('bundles/core/js/dataTables/dataTables.colVis.js') }}"></script>
	<script src="{{ asset('bundles/core/js/dataTables/buttons/dataTables.buttons.min.js') }}"></script>
	<script src="{{ asset('bundles/core/js/dataTables/dist/jszip.min.js') }}"></script>
	<script src="{{ asset('bundles/core/js/dataTables/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/vehicles-contract-to-expire-customer.js') }}"></script>
{% endblock %}
