{% extends 'CoreBundle::2columns-left.html.twig' %}
{% block content -%}
	<div class="page-header">
	</div>

    <section class="content">
    </section>

	<!--<fieldset class="scheduler-border">
        <legend class="scheduler-border">Dashboard</legend>
    </fieldset>-->
{% endblock %}
{% block javascripts %}
{% endblock %}