{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Vehicle - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>vehiclesWithNearbyApkExpiryDate</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>licensePlate</th>
                            <th>status</th>
                            <th>brand</th>
                            <th>Cost place</th>
                            <th>driver</th>
                            <th>contactPerson</th>
                            <th>supplier</th>
                            <th>apkExpiryDate</th>
                            <th>contractStartDate</th>
                            <th>contractEndDate</th>
						</tr>
					</thead>
					<tbody>
                        {% if vehiclesWithNearbyApkExpiryDate is defined and vehiclesWithNearbyApkExpiryDate|length > 0 %}

                            {% set userAllAccess = 0|getUserAccess %}

							{% for vehicle in vehiclesWithNearbyApkExpiryDate %}
                                {% set contactPerson = '-' %}
                                {% set vehicleCostPlaceBreadcrumb = '-' %}
                                {% if vehicle.vehicleCostAllocation|length > 0 %}
                                
                                    {% set contactPerson = vehicle|getcostAllocationContactPerson('vehicle') %}
                                    {% set vehicleCostPlaceBreadcrumb = vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}
                                    
                                    {#
                                    {% set vehicleCostPlace = vehicle.id|getActiveCostAllocation('vehicle') %}
                                    {% if vehicleCostPlace.costAllocation is defined %}
                                        {% set vehicleCostPlaceBreadcrumb = vehicleCostPlace.costAllocation.id|costAllocationBreadcrumb %}
                                        {% if vehicleCostPlace.costAllocation.contactPerson is defined and vehicleCostPlace.costAllocation.contactPerson|length >0 %}
                                            {% set contactPerson = vehicleCostPlace.costAllocation.contactPerson.name %}
                                        {% endif %}
                                    {% endif %}
                                    #}
                                {% endif %}
                                
                                {#
                                
                                {% set supplierName = '-' %}
                                {% set contractStartDate = '-' %}
                                {% set contractEndDate = '-' %}
                                {% if vehicle.leaseContract is defined and vehicle.leaseContract|length > 0 %}

                                    {% set leaseContract = vehicle.leaseContract.0 %}
                                    {% set supplierName = leaseContract.supplier.name %}
                                    {% set contractStartDate = leaseContract.startDate|date('d-m-Y') %}
                                    {% set contractEndDate = leaseContract.endDate|date('d-m-Y') %}
                                {% elseif vehicle.fuelContract is defined and vehicle.fuelContract|length > 0 %}

                                    {% set fuelContract = vehicle.fuelContract.0 %}
                                    {% set supplierName = fuelContract.supplier.name %}
                                    {% set contractStartDate = fuelContract.startDate|date('d-m-Y') %}
                                    {% set contractEndDate = fuelContract.endDate|date('d-m-Y') %}
                                {% elseif vehicle.leaseContractLimited is defined and vehicle.leaseContractLimited|length > 0 %}

                                    {% set leaseContractLimited = vehicle.leaseContractLimited.0 %}
                                    {% set supplierName = leaseContractLimited.supplier.name %}
                                    {% set contractStartDate = leaseContractLimited.startDate|date('d-m-Y') %}
                                    {% set contractEndDate = leaseContractLimited.endDate|date('d-m-Y') %}
                                {% elseif vehicle.onRentContract is defined and vehicle.onRentContract|length > 0 %}

                                    {% set onRentContract = vehicle.onRentContract.0 %}
                                    {% set supplierName = onRentContract.supplier.name %}
                                    {% set contractStartDate = onRentContract.startDate|date('d-m-Y') %}
                                    {% set contractEndDate = onRentContract.endDate|date('d-m-Y') %}
                                {% endif %}
                                
                                #}
                                
                                
                                {% set contractStartDate = vehicle|getContractAttributeName('StartDate') %}
                                {% set contractEndDate = vehicle|getContractAttributeName('EndDate') %}
                                {% set supplierName = vehicle|getContractForeignAttributeName('Supplier') %}
                                
                                {% set editPath =  path('_core_vehicle_edit', {'vehicleId' : vehicle.id})  %}
                                <tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
                                    <td>{{ vehicle.licensePlate }}</td>
                                    <td>
                                        {% if vehicle.status==1 %}
                                            Active
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </td>
                                    <td>{{ vehicle.brand!='' ? vehicle.brand.name : '-' }}</td>
                                    <td>{{ vehicleCostPlaceBreadcrumb|raw }} </td>
                                    <td>
                                        {% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}

                                            {{ vehicle.allocation.0.driver|driverFullName }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ contactPerson }}</td>
                                    <td>{{ supplierName }}</td>
                                    <td>{{ vehicle.apkExpiryDate|date('d-m-Y') }}</td>
                                    <td>{{ contractStartDate }}</td>
                                    <td>{{ contractEndDate }}</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<form id="vehicleFrm" name="vehicleFrm" action="" method="POST"></form>
        </div>
    </div>
    <div id="vehiclesWithoutContractHtml" class="hide">vehiclesWithNearbyApkExpiryDate</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/dataTables/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/dataTables/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/dataTables/buttons/buttons.html5.js') }}"></script>
    <script src="{{ asset('bundles/core/js/vehiclesWithNearbyApkExpiryDate.js') }}"></script>
{% endblock %}
