{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Vehicle - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>missingVehiclesInImport</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>licensePlate</th>
							<th>supplierName</th>
							<th>importDate</th>
							<th>Cost place</th>
						</tr>
					</thead>
					<tbody>
						{% if missingVehiclesInImport is defined and missingVehiclesInImport|length > 0 %}
						
							{% for missingVehicle in missingVehiclesInImport %}

                                {% set vehicleCostPlaceBreadcrumb = missingVehicle.vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}

                                {% set editPath =  path('_core_vehicle_edit', {'vehicleId' : missingVehicle.vehicle.id})  %}

                                <tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
                                    <td>{{ missingVehicle.vehicle.licensePlate }}</a></td>
                                    <td>{{ missingVehicle.supplier.name }}</a></td>
                                    <td>{{ missingVehicle.importDate|date('d-m-Y') }}</td>
                                    <td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
                                </tr>
									
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>   
        </div>
    </div>
    <div id="missingVehiclesInImportHtml" class="hide">missingVehiclesInImport</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/missingVehiclesInImport.js') }}"></script>
{% endblock %}
