{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Vehicle - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>vehiclesWithoutContract</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>licensePlate</th>
							<th>Cost place</th>
							<th>addContract</th>
						</tr>
					</thead>
					<tbody>
						{% if vehiclesWithoutContract is defined and vehiclesWithoutContract|length > 0 %}
							{% for vehicle in vehiclesWithoutContract %}
                                {% set editPath =  path('_core_vehicle_edit', {vehicleId: vehicle.id})  %}
                                {% set vehicleCostPlaceBreadcrumb = vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}
								<tr>
									<td><a href="{{ editPath }}">{{ vehicle.licensePlate }}</a></td>
									<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
									<td>
										<div style="float:left;margin-right:20px;">
											<select class="form-control" id="addContractType_{{ vehicle.id }}">
												<option value="">select</option>
												<option value="lease">{%trans%}lease{%endtrans%}</option>
                                                <option value="leasecontractlimited">{%trans%}leaseContractLimited{%endtrans%}</option>
                                                <option value="fuel">{%trans%}fuel{%endtrans%}</option>
                                                <option value="onrent">{%trans%}onrent{%endtrans%}</option>
											</select>
										</div>
										<div style="float:left;">
											<button title="Save" id="{{ vehicle.id }}" class="btn btn-primary pull-right addNewContract"><i class="fa fa-plus"></i></button>
										</div>
										<div id="addContractPath_{{ vehicle.id }}" class="hide">{{ path('_core_vehicle_contract_new', {'vehicleId' : vehicle.id, 'contractType' : 'contractType' } ) }}</div>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>   
        </div>
    </div>
    <div id="vehiclesWithoutContractHtml" class="hide">vehiclesWithoutContract</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/vehicleWithoutContract.js') }}"></script>
{% endblock %}
