{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}vehiclesContractToBeExpire - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>vehiclesContractToBeExpire</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>licensePlate</th>
                            <th>status</th>
                            <th>brand</th>
                            <th>Cost Place</th>
                            <th>Driver</th>
                            <th>contactPerson</th>
                            <th>contractNumber</th>
                            <th>supplier</th>
                            <th>contractType</th>
                            <th>startDate</th>
                            <th>duration</th>
                            <th>endDateContract</th>
                            <th>costLeaseTerm</th>
                            <th>costFuelTerm</th>
                            <th class="action" align="right" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						{% if vehiclesContractToBeExpire is defined and vehiclesContractToBeExpire|length > 0 %}
						
                            {% set userAllAccess = 0|getUserAccess %}
							{% set contactPerson = '-' %}
							
							{% for vehicle in vehiclesContractToBeExpire %}
							
									{% set vehicleCostPlaceBreadcrumb = '' %}
									
									{% if vehicle.vehicleCostAllocation|length > 0 %}
									
										{# 
                                            set vehicleCostAllocationId = vehicle.vehicleCostAllocation.0.costAllocation.id 
										#}
										
										{% set contactPerson = vehicle|getcostAllocationContactPerson('vehicle') %}
                                        {% set vehicleCostPlaceBreadcrumb = vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}
                                        
                                        {#
                                            {% set vehicleCostPlace = vehicle.id|getActiveCostAllocation('vehicle') %}
                                            
                                            {% if vehicleCostPlace.costAllocation is defined %}
                                            
                                                {% set vehicleCostPlaceBreadcrumb = vehicleCostPlace.costAllocation.id|costAllocationBreadcrumb %}
                                                
                                                {% if vehicleCostPlace.costAllocation.contactPerson is defined and vehicleCostPlace.costAllocation.contactPerson|length >0 %}
                                                
                                                    {% set contactPerson = vehicleCostPlace.costAllocation.contactPerson.name %}
                                                {% endif %}
                                                
                                            {% endif %}
                                        #}
										
									{% endif %}
									
									{# set userVehicleAccess = userAllAccess|checkUserAccess(vehicleCostAllocationId, 'edit') #}
									{% set userVehicleAccess = true %}
									
									{% set status = vehicle.status == 1 ? 'Active' : 'In Active' %}
										
										{% if vehicle.leaseContract is defined and vehicle.leaseContract|length > 0 %}
										
											{% set leaseContract = vehicle.leaseContract.0 %}
										
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'lease',  'contractId' : leaseContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
										
											<tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
												<td>{{ vehicle.licensePlate }}</td>
												<td>{{ status|trans }}</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
													
														{{ vehicle.allocation.0.driver|driverFullName }}
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ leaseContract.contractNumber }}</td>
												<td>{{ leaseContract.supplier.name }}</td>
												<td>lease</td>
												<td>{{ leaseContract.startDate|date('d-m-Y') }}</td>
												<td>{{ leaseContract.duration }}</td>
												<td>{{ leaseContract.endDate|date('d-m-Y') }}</td>
												<td>&euro; {{ leaseContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ leaseContract.costFuelTerm|number_format(2, ',', '.') }}</td>
													
												<td class="center editRemoveCol">
													<a href="{{ editPath }}" class="editVehicle margin-right10" title="editContract"><i class="fa fa-edit"></i></a>
												</td>
												
											</tr>
											
										{% endif %}
										
										{% if vehicle.fuelContract is defined and vehicle.fuelContract|length > 0 %}
										
											{% set fuelContract = vehicle.fuelContract.0 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'fuel',  'contractId' : fuelContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
											
											<tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
												<td>{{ vehicle.licensePlate }}</td>
												<td>{{ status|trans }}</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
													
														{{ vehicle.allocation.0.driver|driverFullName }}
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ fuelContract.contractNumber }}</td>												
												<td>{{ fuelContract.supplier.name }}</td>
												<td>fuel</td>
												<td>{{ fuelContract.startDate|date('d-m-Y') }}</td>
												<td>{{ fuelContract.duration }}</td>
												<td>{{ fuelContract.endDate|date('d-m-Y') }}</td>
												<td>&euro; {{ fuelContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ fuelContract.costFuelTerm|number_format(2, ',', '.') }}</td>
													
												<td class="center editRemoveCol">
													<a href="{{ editPath }}" class="editVehicle margin-right10" title="Edit Vehicle"><i class="fa fa-edit"></i></a>
												</td>
												
											</tr>
											
										{% endif %}
										
										{% if vehicle.leaseContractLimited is defined and vehicle.leaseContractLimited|length > 0 %}
											
											{% set leaseContractLimited = vehicle.leaseContractLimited.0 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'leasecontractlimited',  'contractId' : leaseContractLimited.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
											
											<tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
												<td>{{ vehicle.licensePlate }}</td>
												<td>{{ status|trans }}</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
													
														{{ vehicle.allocation.0.driver|driverFullName }}
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ leaseContractLimited.contractNumber }}</td>												
												<td>{{ leaseContractLimited.supplier.name }}</td>
												<td>leaseContractLimited</td>
												<td>{{ leaseContractLimited.startDate|date('d-m-Y') }}</td>
												<td>{{ leaseContractLimited.duration }}</td>
												<td>{{ leaseContractLimited.endDate|date('d-m-Y') }}</td>
												<td>&euro; {{ leaseContractLimited.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>&euro; {{ leaseContractLimited.costFuelTerm|number_format(2, ',', '.') }}</td>
													
												<td class="center editRemoveCol">
													<a href="{{ editPath }}" class="editVehicle margin-right10" title="Edit Vehicle"><i class="fa fa-edit"></i></a>
												</td>
												
											</tr>
										
										{% endif %}
										
										{% if vehicle.onRentContract is defined and vehicle.onRentContract|length > 0 %}
										
											{% set onRentContract = vehicle.onRentContract.0 %}
											
											{% if userVehicleAccess==true %}
												{% set editPath =  path('_core_vehicle_contract_edit', {'vehicleId' : vehicle.id, 'contractType' : 'onrent',  'contractId' : onRentContract.id })  %}
											{% else %}
												{% set editPath =  'javascript:;'  %}
											{% endif %}
										
											<tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
												<td>{{ vehicle.licensePlate }}</td>
												<td>{{ status|trans }}</td>
												<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
												<td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
												<td>
													{% if vehicle.allocation is defined and vehicle.allocation|length > 0 %}
													
														{{ vehicle.allocation.0.driver|driverFullName }}
													{% else %}
														-
													{% endif %}
												</td>
												<td>{{ contactPerson }}</td>
												<td>{{ onRentContract.contractNumber }}</td>												
												<td>{{ onRentContract.supplier.name }}</td>
												<td>onrent</td>
												<td>{{ onRentContract.startDate|date('d-m-Y') }}</td>
												<td>{{ onRentContract.duration }}</td>
												<td>{{ onRentContract.endDate|date('d-m-Y') }}</td>
												<td>&euro; {{ onRentContract.costLeaseTerm|number_format(2, ',', '.') }}</td>
												<td>-</td>
													
												<td class="center editRemoveCol">
													<a href="{{ editPath }}" class="editVehicle margin-right10" title="Edit Vehicle"><i class="fa fa-edit"></i></a>
												</td>
												
											</tr>
											
										{% endif %}
								
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<form id="vehicleFrm" name="vehicleFrm" action="" method="POST"></form>
        </div>
    </div>
    <div id="vehiclesContractToExpire" class="hide">vehiclesContractToBeExpire</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/vehicles-contract-to-expire.js') }}"></script>
{% endblock %}
