{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}vehiclesWithPoolAllocations - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>vehiclesWithPoolAllocations</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
                            <th>status</th>
                            <th>expectedReturnDate</th>
                            <th>licensePlate</th>
                            <th>Cost Place</th>
							<th>brand</th>
							<th>model</th>
							<th>type</th>
							<th>vehicleType</th>
							<th>fuelType</th>
							<th>fiscalValue</th>
							<th>incomeTaxAddition</th>
							<th>supplier</th>
							<th>startDateContract</th>
							<th>endDateContract</th>
							<th>duration</th>
							<th>yearlyKm</th>
							<th>costLeaseTerm</th>
                            <th>costFuelTerm</th>
                            <th class="action" align="right" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						{% if vehicles is defined and vehicles|length > 0 %}
						
                            {% for vehicle in vehicles %}
							
									{% set vehicleCostPlaceBreadcrumb = '' %}
									
									{% if vehicle.vehicleCostAllocation|length > 0 %}
										{% set vehicleCostPlaceBreadcrumb = vehicle|getcostAllocationBreadcrumbHtmlWithEntity('vehicle') %}
                                    {% endif %}
									
									{% set contractStartDate = vehicle|getContractAttributeName('StartDate') %}
									{% set contractEndDate = vehicle|getContractAttributeName('EndDate') %}
                                    {% set duration = vehicle|getContractAttributeName('Duration') %}
                                    {% set supplierName = vehicle|getContractForeignAttributeName('Supplier') %}
                                    {% set costLeaseTerm = vehicle|getContractAttributeName('CostLeaseTerm') %}
                                    {% set costFuelTerm = vehicle|getContractAttributeName('CostFuelTerm') %}
                                    {% set yearlyKm = vehicle|getContractAttributeName('YearlyKm') %}
                                    
									{% set status = vehicle.expectedReturnDate!=NULL ? 'RetourVerwacht'|trans : 'pool'|trans %}
                                    
                                        {% set editPath =  path('_core_vehicle_edit', {'vehicleId' : vehicle.id })  %}
                                        <tr id="{{ editPath }}" class="rowVehicle" style="cursor:pointer;">
                                            <td>{{ status|trans }}</td>
                                            <td>{{ vehicle.expectedReturnDate!=NULL ? vehicle.expectedReturnDate|date('d-m-Y') : '' }}</td>
                                            <td>{{ vehicle.licensePlate }}</td>
                                            <td>{{ vehicleCostPlaceBreadcrumb|raw }}</td>
                                            <td>{{ vehicle.brand!='' ? vehicle.brand : '' }}</td>
                                            <td>{{ vehicle.model }}</td>
                                            <td>{{ vehicle.type }}</td>
                                            <td>{{ vehicle.vehicleType!='' ? vehicle.vehicleType : '' }}</td>
                                            <td>{{ vehicle.fuelType }}</td>
                                            <td>&euro; {{ vehicle.fiscalValue|number_format(2, ',', '.') }}</td>
                                            <td>{{ vehicle.IncomeTaxAddition!='' ? vehicle.IncomeTaxAddition : '' }}</td>
                                            <td>{{ supplierName }}</td> 
                                            <td>{{ contractStartDate!='' ? contractStartDate|date('d-m-Y') : '' }}</td>
                                            <td>{{ contractEndDate!='' ? contractEndDate|date('d-m-Y') : '' }}</td>
                                            <td>{{ duration }}</td>
                                            <td>{{ yearlyKm }}</td>
                                            <td>{% if costLeaseTerm!='' %} &euro; {{ costLeaseTerm|number_format(2, ',', '.') }} {% endif %}</td>
                                            <td>{% if costFuelTerm!='' %} &euro; {{ costFuelTerm|number_format(2, ',', '.') }}{% endif %}</td>
                                                
                                            <td class="center editRemoveCol">
                                                <a href="{{ editPath }}" class="editVehicle margin-right10" title="edit"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<form id="vehicleFrm" name="vehicleFrm" action="" method="POST"></form>
        </div>
    </div>
    <div id="vehiclesWithPoolAllocations" class="hide">vehiclesWithPoolAllocations</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/vehicles-with-pool-allocation.js') }}"></script>
{% endblock %}
