{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Vehicle - wbs{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/core/css/dataTables.colReorder.css') }}" rel="stylesheet"/>
	<link href="{{ asset('bundles/core/css/dataTables.colVis.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/core/css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>vehiclesWithoutActiveCostAllocation</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="showHideColumn">&nbsp;</div>
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
					<thead>
						<tr>
							<th>licensePlate</th>
                            <th>brand</th>
                            <th>type</th>
                            <th>fuelType</th>
                            <th>vehicleType</th>
                            <th>fiscalValue</th>
                            <th>co2</th>
                            <th>incomeTaxAddition</th>
                            <th class="action" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						{% if vehiclesWithoutActiveCostAllocation is defined and vehiclesWithoutActiveCostAllocation|length > 0 %}
						
							{% for vehicle in vehiclesWithoutActiveCostAllocation %}
								
								<tr id="{{ path('_core_vehicle_edit', {vehicleId: vehicle.id}) }}" class="rowVehicle" style="cursor:pointer;">
									<td>{{ vehicle.licensePlate }}</td>
                                    {#<td>{{ vehicleCostPlaceBreadcrumb|raw }} </td>#}
									<td>{{ vehicle.brand!='' ? vehicle.brand : '-' }}</td>
                                    <td>{{ vehicle.type }}</td>
                                    <td>{{ vehicle.fuelType!='' ? vehicle.fuelType : '-' }}</td>
                                    <td>{{ vehicle.vehicleType }}</td>
                                    <td>&euro; {{ vehicle.fiscalValue|number_format(2, ',', '.') }}</td>
                                    <td>{{ vehicle.co2 }}</td>
                                    <td>{{ vehicle.incomeTaxAddition }}</td>
                                    <td class="center editRemoveCol">
										<a href="{{ path('_core_vehicle_edit', {vehicleId: vehicle.id}) }}" class="editVehicle margin-right10" title="Edit Vehicle"><i class="fa fa-edit"></i></a>
										<a href="javascript:void(0)" id="{{ path('_core_vehicle_without_active_costAllocation_delete', {'vehicleId' : vehicle.id}) }}" class="deleteVehicle" title="Delete Vehicle"><i class="fa fa-trash-o"></i></a>
                                    </td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<form id="vehicleFrm" name="vehicleFrm" action="" method="POST"></form>
        </div>
    </div>
    <div id="vehiclesWithoutContractHtml" class="hide">vehiclesWithoutActiveCostAllocation</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/vehiclesWithoutActiveCostAllocation.js') }}"></script>
{% endblock %}
