{% block form_widget_simple %}
{% spaceless %}
	{% set type = type|default('text') %}
	
	
	{%set defaultClass = '' %}
	{%- for attrname, attrvalue in attr -%}
		{%if attrname == 'class' %}
			{%set defaultClass = attrvalue %}
		{%endif%}
	{%- endfor -%}
	
    <input {% if type!='file' %} class="form-control {{ defaultClass }}" {% endif %} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block integer_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
		<input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock integer_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
        <button class="btn btn-primary pull-right" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}


{% block autoSelect_widget %}
    {% spaceless %}
	<div class="ui-select autoCompleteWidget">
	    {{ block('choice_widget_collapsed') }}
	</div>
    {% endspaceless %}
{% endblock autoSelect_widget %}


{% block choice_widget %}

{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
	    {{ block('choice_widget_collapsed') }}
	{% endif %}

{% endspaceless %}

{% endblock choice_widget %}


{% block choice_widget_collapsed -%}
	{% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {% endif %}

    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}


{% block textarea_widget %}
	
	{% spaceless %}
		<textarea class="form-control" rows="5" {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% endspaceless %}
{% endblock textarea_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize|title ~ ':' %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}
        {% if required %}
            <span class="requiredField">*</span>
        {% endif %}
        </label>
        
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
	{% spaceless %}
	    <div class="form-group text-transform">
			{{ form_label(form) }}
			{{ form_widget(form) }}
	    </div>
	{% endspaceless %}
{% endblock form_row %}


{% block widget_datetime_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
	{%elseif attrname == 'class' %}

        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock widget_datetime_attributes %}


{% block datePicker_widget %}
{% spaceless %}
	{% if widget == 'single_text' %}
         {% set type = type|default('text') %}
			<div class="input-group datepickerControl date">
            <input class="form-control" type="text" {{ block('widget_attributes') }} {% if value is not empty  and value!='0000-00-00 00:00:00' and value|checkValidDate %}value="{{ value|date("d-m-Y") }}" {% endif %} />
			<span class="input-group-addon">
				<i class="fa fa-calendar"></i>
			</span>
		</div>
    {% else %}
        <div {{ block('widget_container_attributes') }}>
             {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datePicker_widget %}

{%- block checkbox_widget -%}
    <div class="input-group">
        <input type="checkbox" class="" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget -%}

{% block money_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input {% if type!='file' %} class="form-control" {% endif %} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% endspaceless %}
{% endblock money_widget_simple %}


{% block money_widget -%}
    {{block('money_widget_simple')|raw }}
{%- endblock money_widget %}
