    fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1.2em !important;
    font-weight: bold !important;    
}    

span.requiredField {
    color:red !important;
}

.table-header {
   position:static !important;
}

.showHideColumn {
    padding: 10px !important;
}

body.page-signin .signin-container {
    width: 318px;
    position: absolute;
    margin: auto;
    /*top: 38%;*/ /*For DV*/
    top: 50%;
    left: 50%;
	/*
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	*/
	margin: -175px 0 0 -159px;
}

.load-lightbox {
	background-color:#fff;
	width:100%;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1181;
}
.loading-image {
	background:url('../images/ajax-loader1.gif') 50% 50% no-repeat;
	width:100%;
	height:100%;
	position:fixed;
	z-index:1183;
}
#main-navbar {
    position: fixed !important;
}

tr.table-row-error td {
    background-color: #9F3D3D !important;
    border-color: #C35F5F !important;
    color: #fff;
}

.text-success {
    color:#000 !important;
}
.checkbox-widget-left {
	float:left;
	margin:-5px 6px 0 0;
}

.margin-right10 {
	margin-right:10px !important;
}

ul.ColVis_collection {
    width:auto !important;
}

/*ul.ColVis_collection {
    width:auto !important;
}*/
tr.table-row-error td a{
    color:#FFFFFF !important;
}
.dataTables_wrapper .table-footer {
    margin-top: 0px !important;
}
table.dataTable {
    margin-top: 0px !important;   
    width: 100% !important;
}/*
@media screen and (min-width:1350px) {
.dataTables_scrollBody
{
    overflow-x:hidden !important;
}
}*/

.treeview .expandable .editCostPlace {
    margin-left:4px !important;
}
@-moz-document url-prefix() {
    .importAction {
	float: left !important;
	margin-top: -4px !important;
    }
}
.importAction {
    float: left ;
    margin-top: -1px ;
}
ul.ColVis_collection {
    width: 750px !important;
}
ul.ColVis_collection li {
    float: left !important;
    width: 350px !important;
}
.noteTable {
    table-layout: fixed;
    width: 100%;
}
.noteTable th, td {
    word-wrap: break-word;
}
.list-driver-cost-allocations {
    display: table;
}
.selectWidth {
	width:60% !important;
}

.dt-buttons {
	float : right !important;
	padding : 15px 0 0 !important;
}

.datepicker { z-index: 1151 !important;  }

#jq-datatables .breadcrumb {
	margin-bottom : 0px !important;
	padding : 0px !important;
}

body{
   line-height: 1.1234 !important;   
}

.listMessages {
    padding-left: 15px;
    margin-top: 5px;
}

/*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding-bottom: 1px !important;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px !important;
}*/

/*.theme-purple-hills .table-primary thead th, .theme-purple-hills .table-primary thead tr {
  padding-right: 17px   !important;
  vertical-align: middle;
  *//* word-break: break-all; *//*
  *//* word-break: break-word; *//*
  *//*white-space: normal;*//*
  *//*min-width: 45px !important;*//*
   white-space: nowrap;	
}*/

table.dataTable th:after {
    width: 13px;
    top: 50%;
    margin-top: -10px;
}
.vehicleImportList tbody>tr>td {
    word-break: break-all !important;
}
.vehicleImportList tbody>tr>.actionsTab {
	white-space: nowrap !important;
}

.dataTables_scrollBody table.dataTable thead .sorting:after,.dataTables_scrollBody table.dataTable thead .sorting_desc:after,.dataTables_scrollBody table.dataTable thead .sorting_asc:after{
	content:'';
	display: none;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
	border-bottom-width: 0px !important;
}

.dataTables_scrollHead thead > tr > th {
    border-bottom: 1px #2175AC solid !important;
}
.dataTables_scrollBody thead > tr > th {
	padding-top:0!important;
	padding-bottom:0 !important
}

td.center.editRemoveCol {
    white-space: nowrap;
}

/*.row {
    margin-left: -17px !important;
    margin-right: -11px !important;
}*/

.importInvoiceErrors li {
    padding: 2px;
}

/************

    10-23

**************/

.bckgClr td { background-color: #e8e8e8 !important; }
.table-design>tbody>tr.parentTr>td:first-child i:before {
    content: '';
    border: 5px grey solid;
    height: 0px;
    width: 0px;
    border-color: grey transparent transparent transparent;
    line-height: 0em;
    position: relative;
    top: 9px;
    left: -9px;
    /*
    margin: -3px 5px 0 5px;
    position: absolute;
    top: 50%;
    left: 2px;*/
}
.table-design>tbody>tr>td:first-child {
    /* position: relative; */
    padding-left: 21px!important;
}
.table-design>tbody>tr>td{ vertical-align:middle}
.table-design>tbody>tr.bckgClr td:before {
    display: none;
}
.table-design>tbody>tr>td:first-child {
    padding-left: 22px !important;
    padding-right: 15px!important;
}
.table-design>tbody>tr.bckgClr>td:first-child {
    padding-right: 5px !important;
}
.table-design>tbody>tr.bckgClr:nth-child(2n) td { background-color: #dcdcdc !important; }
.table-design>tbody>tr.bckgClr>td{border-color: white!important;}
.table-design>tbody>tr.parentTr>td:first-child,.table-design>tbody>tr.bckgClr>td:first-child {    border-left: 2px solid rgb(160, 160, 160) !important;}
.table-design>tbody>tr.parentTr>td:last-child,.table-design>tbody>tr.bckgClr>td:last-child {    border-right: 1px solid rgb(160, 160, 160) !important;}
.table-design>tbody>tr.bckgClr.lastChild>td {border-bottom: 1px solid rgb(160, 160, 160) !important;}
.table-design>tbody>tr ~ tr.parentTr>td {border-top: 1px #A0A0A0 solid !important;}
.table-design>tbody>tr.prevParentTr>td {border-bottom: 0;}

/*.theme-purple-hills .table-primary .table-header { background-color: #4B738D; }
.theme-purple-hills .table-primary thead th, .theme-purple-hills .table-primary thead tr { background-color: #41647b ; }*/

.fixExpandedCheckbox .input-group {
    /* display: inline; */
    margin-right: 5px;
    float: left;
    clear: left;
}
.fixExpandedCheckbox label {
    word-break: break-all;
    display: inline;
} 

.fixExpandedCheckbox {
    clear: both;
}


    .table-primary table {
        /*font-size: 11px;*/
        white-space: nowrap;
    }
	
tr.table-danger > td {
    background-color: #f2dede !important;
}

.legend-virtual:before{
    background: #D9EDF7;
}
.legend-no-allocation:before{
    background: #F2DEDE;
}
.legend-no-costAllocation:before{
    background: #F9F1C7;
}
[class^="legend-"] {
    padding: 0 20px;
    position: relative;
}

[class^="legend-"]:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0px;
    border-color: #ebccd1;
    border: 1px solid #9A9A9A;
}

.childRow {
    padding-left: 33px !important;
}