
.showcase_bg #page-signin-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /* z-index: 20; */
}
.page-signin #page-signin-bg ,.showcase_bg #page-signin-bg {
    background: url(../images/show-room.jpg) center center no-repeat !important;
    background-size: cover!important;
}
.page-signin #page-signin-bg .overlay {
    display: none;
}
.signin-text {
    display: block;
    width: 261px;
    margin: auto;
    /*height: 64px;
    background: url(../images/dec-logo.png) center no-repeat scroll;
    text-indent: -9999px;
    overflow: hidden;*/
}
.page-signin .signin-text:before {
    display: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e6e9f1 inset;
    -webkit-text-fill-color: #113378;
}
.page-signin .form-group input[type=password], .page-signin .form-group input[type=text] {
    background: #e6e9f1;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px!important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #7e7e7e;
    font-size: 12px;
    font-size: 15px;
    color: #113378;
    font-Weight: bold;
    outline: none;
}
.page-signin .signin-form {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=50, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.9);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.9);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 15px 50px rgba(0,0,0,0.9);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000);
    /*IE 5.5-7*/
}

.page-signin .form-group {
    padding-top: 9px;
}

body.page-signin .form-actions .signin-btn {
    background: #113378!important;
    width: 100%;
    border-radius: 4px;
    font-size: 12px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 30px;
}
.lost-pass {
    padding-top: 10px;
}
.lost-pass a {
    color: #acaaaa;
    font-size: 11px;
}


.input_field {
    position: relative;
    margin-top: 1rem;
}
.input_field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
.input_field label,.input_field.empty label {
    color: #7e7e7e;
    position: absolute;
    top: 1.9em;
    left: 1.1em;
    font-size: 11px;
    cursor: text;
    transition: .2s ease-out;
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    pointer-events: none;
}
.input_field input + label {
    font-size: .8em\9;
    top: -0.2em\9;
    left: 0\9;
}
.input_field input:focus + label, .input_field .filled + label {
    font-size: .8em;
    top: -0.2em;
    left: 0;
}
.page-signin .form-actions {
    margin-top: 28px;
}
input.invalid-credentials {
    background: #ffe9e4!important;
    -webkit-box-shadow: 0 0 0px 1000px #ffe9e4 inset!important;
    box-shadow: 0 0 0px 1000px #ffe9e4 inset!important;
    color: #ff0030!important;
}
input.invalid-credentials:-webkit-autofill {
    -webkit-text-fill-color: #ff0030;
}

#copy_rights {
    z-index: 9999;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    position: relative
}
.page-signin #copy_rights {
    position: absolute;
    bottom: 10px;
}


@media (max-height: 450px) {
    body.page-signin .signin-container {
        position: relative;
        left: inherit;
        margin: 0 auto;
        -moz-transform: rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0, 0);
        /* FF3.5+ */
        -webkit-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
        /*Saf3.1+, Chrome*/
        -o-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
        /* Opera 10.5 */
        -ms-transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
        /* IE 9 */
        transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
    }
    .page-signin #copy_rights {
        position: relative;
        top: 10px;
        padding-bottom: 10px;
    }
}


@font-face {
    font-family: "de-wagenparkbeheerders";
    src: url("../fonts/de-wagenparkbeheerders.eot");
    src: url("../fonts/de-wagenparkbeheerders.eot?#iefix") format("embedded-opentype"),
    url("../fonts/de-wagenparkbeheerders.woff") format("woff"),
    url("../fonts/de-wagenparkbeheerders.ttf") format("truetype"),
    url("../fonts/de-wagenparkbeheerders.svg#de-wagenparkbeheerders") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "de-wagenparkbeheerders" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "de-wagenparkbeheerders" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-avatar23:before {
    content: "\61";
}
.icon-car80:before {
    content: "\62";
}
.icon-car123:before {
    content: "\63";
}
.icon-collision:before {
    content: "\64";
}
.icon-export:before {
    content: "\65";
}
.icon-fuel14:before {
    content: "\66";
}
.icon-home168:before {
    content: "\67";
}
.icon-package8:before {
    content: "\68";
}
.icon-search100:before {
    content: "\69";
}
.icon-statistics41:before {
    content: "\6a";
}
.icon-time36:before {
    content: "\6b";
}
.icon-tool418:before {
    content: "\6c";
}
.icon-vehicle18:before {
    content: "\6d";
}
.icon-wallet33:before {
    content: "\6e";
}
.icon-key {
    background: url(../images/key.png) center right no-repeat scroll;
    width: 22px;
    height: 23px;
    display: inline-block;
}
li:hover .icon-key, a:hover>.icon-key, .active .icon-key {
    background-position: top left;
}


#customer-logo {
    width: auto!important;
    height: 60px!important;
    padding: 11px 0;
}
#main-navbar.header_nav {
    background: #fff;
    /* box-shadow: 0 0 20px 5px rgba(128,128,128,0.6); */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 20px 5px rgba(0,0,0,0.6);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.6);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.6);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    padding-left: 10px;
    position: relative!important;
}
#main-navbar.header_nav .navbar-header {
    padding-left: 0!important;
}
.customer-page #main-navbar .right,.customer-page .navbar-toggle {
    padding-top: 8px!important;
}

.customer-page .user-menu > span {
    color: #6f7779;
    font-weight: bold;
}
.customer-page .user-menu > span i {
    font-size: 20px;
    vertical-align: middle;
}
.middle-content {
    padding: 90px 0 35px;
}
.panel-container {
    background: #fff;
    text-align: center;
    color: #7e7e7e;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    height: 210px;
    margin-bottom: 22px;
    padding: 50px 10px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 5px 6px rgba(0,0,0,0.2);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 5px 6px rgba(0,0,0,0.2);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 5px 6px rgba(0,0,0,0.2);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#000000);
    /*IE 5.5-7*/


}
.icon-s > span {
    position: relative;
    display: inline-block;
    font-size: 74px;
    line-height: 84px;
    color: #D6D7D8;
}
.icon-s .icon-statistics41,.icon-s .icon-package8 {
    line-height: 76px;
    font-size: 87px;
}
.text-patch {
    position: absolute;
    top: -18px;
    background: #113378;
    width: 46px;
    /* height: 26px; */
    padding: 17px 0;
    display: inline-block;
    line-height: 12px;
    right: -30px;
    -webkit-border-radius: 200px;
    /*Safari, Chrome*/
    -moz-border-radius: 200px;
    /*Firefox*/
    border-radius: 200px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
    line-height: normal;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.customer-page #main-navbar .user-menu>span {
    display: inline-block;
}
.customer-icon {
    padding: 0 0 10px;
}
.dash-blocks a {
    text-decoration: none!important;
}
.dash-blocks:hover .panel-container .text-patch {
    background: #FFFFFF;
    color: #113378;
}
.dash-blocks:hover .panel-container {
    background: #113378;
    color: #fff;
    font-weight: 600;
}
.inactive {
    opacity: .6;
}
.inactive a {
    cursor: default;
}
.inactive .panel-container {
    background: #fff!important;
    color: #7e7e7e!important;
    font-weight: bold!important;
}
.inactive .text-patch {
    background: #a8adb1!important;
    color: #ffffff!important;
}



/*		left side menu		*/
.theme-default #main-menu {
    max-width: 218px;
}
.theme-default #main-menu .navigation {
    margin-top: 89px;
    padding: 20px 0;
    background: #fff;
}

.theme-default #main-menu ul.navigation>li {
    max-width: 100%;
}

.theme-default #main-menu .navigation a {
    color: #7e7e7e;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}
.theme-default #main-menu .navigation>li i {
    font-size: 22px;
    margin-right: 10px;
    vertical-align: middle;
    color: #d6d7d8;
}
.theme-default #main-menu .navigation a:hover, .theme-default #main-menu .navigation>li:hover i, .theme-default #main-menu li.active>a, .theme-default #main-menu li.active>a i {
    color: #113378;
    background-color: #fff;
}
.theme-default #main-menu .navigation .inactive a:hover, .theme-default #main-menu .navigation>li.inactive:hover i, .theme-default #main-menu li.inactive>a, .theme-default #main-menu li.inactive>a i {
    color: #D6D7D8;
}
.theme-default #main-menu .navigation a:hover:after, .theme-default #main-menu li.active>a:after {
    
    display: none!important;
}

/*		right side listing		*/
.table-primary .table-header .table-caption {
    color: #113378;
    font-size: 22px;
    font-weight: normal;
}
.customer-page .content-right {
    padding-top: 11px!important;
}

.table-primary .table-header {
    background: #fff;
    border: none;
    border-radius: 0;
    color: #b4b4b4;
    padding: 28px 10px;
    border-bottom: 1px #e0e0e0 solid;
}
.table-primary .table-header .DT-lf-right select {
    color: #9a9a9a;
    padding: 0 3px;
    font-size: 11px;
    vertical-align: inherit;
    height: 23px;
}
.DT-search, .DT-search input {
    width: 100px!important;
}
.table-primary .DT-per-page {
    border: 0;
}

.table-primary .table-header .table-caption {
    color: #113378;
    font-size: 22px;
    font-weight: normal;
}
.content-right {
    padding-top: 23px!important;
}

.theme-default .table-primary .table-header {
    background: #fff;
    border: none;
    border-radius: 0;
    color: #9a9a9a;
    padding: 28px 20px;
    border-bottom: 1px #e0e0e0 solid!important;
    margin: 0;
    font-size: 11px;
}
.table-primary .table-header .DT-lf-right select {
    /* color: #b4b4b4; */
    /* padding: 0 3px; */
    /* font-size: 14px; */
    /* vertical-align: inherit; */
}
.customer-page .table-primary .table-header .DT-lf-right,.customer-page .table-primary .table-header .DT-lf-right input {
    text-transform: uppercase;
    vertical-align: bottom;
    font-size: 11px;
}
.customer-page .table-primary .DT-per-page {
    border: 0;
}







.customer-page .table-primary .dataTables_scrollHead th,
.table-primary tbody > tr > th,
.table-primary .table > tfoot > tr > th,
.table-primary .dataTables_scrollHead tr > th {
    border-top: 21px #fff solid !important;
    border-bottom: 5px solid #fff!important;
}

.customer-page .table-primary thead th, .customer-page .table-primary thead tr {
    color: #113378;
    text-transform: uppercase;
    font-weight: bold;
}
.table-primary tbody > tr > td,
.customer-page .table-primary thead th,
.table-primary tbody > tr > th,
.table-primary tfoot > tr > td,
.table-primary .table > tfoot > tr > th,
.table-primary thead > tr > td,
.table-primary thead > tr > th {
    padding-left: 25px;
    padding-right: 25px!important;
    background: #fff
}
.table-primary tbody > tr > td,
.table-primary tbody > tr > th,
.table-primary tfoot > tr > td,
.table-primary .table > tfoot > tr > th,
.table-primary thead > tr > td,
.table-primary td .breadcrumb li,
.table-primary td .breadcrumb li a {
    color: #6f7779;
    font-size: 14px;
    line-height: 35px;
    height: auto;
}
.table-primary .table-footer .DT-label {
    float: none;
    display: inline-block;
    padding-left: 10px;
}

.table-primary .table-footer .DT-pagination {
    float: left;
}
.table-primary .table-footer .pagination li a {
    background: #dadbdc;
    color: #626262;
    font-size: 14px;
    font-weight: bold;
    font-weight: 500;
    border: none;
}
.table-primary .pagination>li.active>a,
.table-primary .pagination>li.active>a:focus,
.table-primary .pagination>li.active>a:hover,
.table-primary .pagination>li.active>span {
    color: #fff;
    background: #113378;
}

.table-primary .pagination>.disabled>a,
.table-primary .pagination>.disabled>a:focus,
.table-primary .pagination>.disabled>a:hover,
.table-primary .pagination>.disabled>span,
.table-primary .pagination>.disabled>span:focus,
.table-primary .pagination>.disabled>span:hover {
    opacity: .4;
}
.table-primary .dataTables_wrapper .DT-label {
    font-weight: bold;
    font-weight: 500;
    color: #6f7779;
}

.table-primary .DT-search label:after {
	content: "\69"; 
	right: 8px; 
	top: 8px; 
	pointer-events: none; 
	font-size: 14px; 
	position: absolute; 
	font-family: "de-wagenparkbeheerders" !important; 
	font-style: normal !important; 
	font-weight: normal !important; 
	font-variant: normal !important; 
	text-transform: none !important; 
	speak: none; 
	line-height: 1; 
	vertical-align: text-top; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

.table-primary .DT-search label {
	position: relative; 
	padding-right: 20px; 
	width: auto; 
	border: rgba(154, 154, 154, 0.42) 1px solid;
}

.table-primary .DT-search input {
    width: 83px!important;
}
.table-primary .dataTables_wrapper .table-footer {
    padding: 28px 10px!important;
}
.table-primary .dt-buttons {
    padding: 31px 20px 0 0 !important;
    background-color: #fff;
    font-weight: bold;
    font-weight: 600;
}
.table-primary a.dt-button, .table-primary a.dt-button:hover, .table-primary a.dt-button.active, .table-primary a.dt-button:focus,.table-primary a.dt-button, .table-primary a.dt-button:hover {
    border: none!important;
    background: none!important;
    font-size: 11px!important;
    padding: 0!important;
    margin: 0 0 0 18px!important;
    color: #9a9a9a!important;
    box-shadow: none!important;
    text-shadow: none!important;
    text-transform: uppercase;
}
.table-primary a.dt-button,
.table-primary a.dt-button:hover,
.table-primary a.dt-button.active,
.table-primary a.dt-button:focus {
    /* border: none; */
    /* background: none; */
    /* font-size: 11px; */
    /* padding: 0; */
    /* margin: 0 0 0 10px; */
    /* color: #9a9a9a; */
    /* box-shadow: none; */
    /* text-shadow: none; */
}
.table-primary a.dt-button span:before {
    content: "\65";
    margin-right: 7px;
    font-family: "de-wagenparkbeheerders" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    font-size: 22px;
    speak: none;
    vertical-align: middle;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}














@media (min-width: 991px) {
    .dash-blocks {
        width: 20%;
    }
}
@media (max-width: 990px) and (min-width:641px) {
    .customer-page .table-primary .table-header .DT-lf-right {
        width: 100%;
        text-align: right;
        padding-top: 15px;
    }
}
@media (min-width: 768px) {
    #main-wrapper, .mme #main-wrapper {
        padding-left: 220px;
    }
}
@media (max-width: 767px) {
    .table-primary .table-footer .DT-pagination, .table-primary .table-footer .DT-label {
        float: none;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 640px) {
    .table-primary .dt-buttons {
        padding-top:30px!important;
    }
    
    .table-primary .table-header .table-caption {
        padding: 10px 0;
        text-align: center;
        float: none;
        line-height: 30px;
    }
    .theme-default .table-primary .table-header {
        padding-top: 0;
    }
    .theme-default .table-primary .dataTables_wrapper .DT-per-page, .theme-default .table-primary .dataTables_wrapper .DT-search,.theme-default .table-primary .dataTables_wrapper .DT-lf-right {
        float: none;
        display: block;
        text-align: center;
        width: 100%!important;
    }

}
@media (min-width: 480px) and (max-width:767px) {
    #main-wrapper {
        padding-left: 76px;
    }
}
@media (max-width: 450px) {
    .dash-blocks {
        width: 100%;
    }
}
 
.table-primary tbody > tr > td, .table-primary tbody > tr > th, .table-primary tfoot > tr > td, .table-primary .table > tfoot > tr > th, .table-primary thead > tr > td, .table-primary td .breadcrumb li, .table-primary td .breadcrumb li a
{ color: #6f7779; font-size: 12px;line-height: 27px; height: auto; } 