{% extends 'CoreBundle::2columns-left.html.twig' %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block content -%}
    
    <div class="page-header">
        <h1>Client</h1>
    </div>
    
	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}
	
    <div class="row">
	    <div class="col-md-12">
            <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
				{% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('entityId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('entityId')}) }}">Family Details</a>
					</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('entityId')}) }}">Goals</a>
					</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('entityId')}) }}">Documents</a>
					</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
					<li class="active">
						<a href="javascript:void(0)">Notes</a>
					</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('entityId')}) }}">Assets & Assumptions</a>
					</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('entityId')}) }}">Goals Report</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('entityId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('entityId')}) }}">Family Details</a>
					</li>
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('entityId')}) }}">Goals</a>
					</li>
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('entityId')}) }}">Documents</a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">Notes</a>
					</li>
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('entityId')}) }}">Assets & Assumptions</a>
					</li>
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('entityId')}) }}">Goals Report</a>
					</li>
				{% endif %}
            </ul>
		<div class="tab-content tab-content-bordered">
		    <div class="panel">
			<div class="panel-heading">
			    <span class="panel-title">Create Notes</span>
			</div>
			
			<div class="panel-body">
                
			    {% include 'CoreBundle::globalMessage.html.twig'%}
			    
			    {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
			    
				    <div class="control-group">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_label(form.body) }}
                                {{ form_widget(form.body) }}
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right createNote" type="submit" name="createNoteAction" title="Create">Create</button>
				    </div>
				    
			    {{ form_end(form) }}
			    <br/><br/>
			</div>
		    </div>
		    
		    <div id="noteData"></div>
		    
		    <div class="hide" id="noteListUrl">{{  path('_core_note_list', {'entity' : 'client', 'entityId' : app.request.get('entityId')}) }}</div>
		</div> <!-- TAB DIV ENDS -->
	    </div>
    </div>
   <div class="hide">
        <form name="deleteFrm" id="deleteFrm" action="">
        </form>
   </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/core/js/note.js') }}" type="text/javascript"></script>
{% endblock %}

