{% set keyForModule = 'manageClient' %}
{% set actions = keyForModule|getPermittedActions %}
<table class="table noteTable">
	<tbody>
	{% if (notes is defined and notes|length > 0) %}
	    {% for note in notes %}
		<tr id="showNote_{{ note.id }}" class="showNote">
		    <td width="50%">{{ note.body }}</td>
		    <td width="10%">{{ note.dateCreated|date('d-m-Y')  }}</td>
		    <td width="10%">
                {% if (note.getUserAddNote is defined and note.getUserAddNote|length > 0) %}
                    {{ note.getUserAddNote.getName  }} {{ note.getUserAddNote.getLastName  }}
                {% endif %}
            </td>
		    <td width="20%">
                {% if (note.getUserAddNote is defined and note.getUserAddNote|length > 0) %}
                    {% if (note.getUserAddNote.getId == app.user.id) %}
                        {% if app.user.isAdmin != true %}
                            {% if 'editClientNote' in actions %}
                                <a style="float:left;" href="{{ path('_core_note_edit', { 'entity' : 'client', 'noteId': note.id }) }}" class="btn btn-primary editNote" title="Edit"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            {% if 'deleteClientNote' in actions %}
                                &nbsp; &nbsp;<button type="button" name="deleteNoteAction" id="{{ path('_core_note_delete', { 'entity' : 'client', 'entityId': clientId, 'noteId' : note.id }) }}"  data-toggle="modal" data-target="#wbsModal" class='btn btn-primary deleteNote' title="Delete"><span class="fa fa-trash-o"></span></button>
                            {% endif %}
                        {% else %}
                            <a style="float:left;" href="{{ path('_core_note_edit', { 'entity' : 'client', 'noteId': note.id }) }}" class="btn btn-primary editNote" title="Edit"><i class="fa fa-edit"></i></a>
                            &nbsp; &nbsp;<button type="button" name="deleteNoteAction" id="{{ path('_core_note_delete', { 'entity' : 'client', 'entityId': clientId, 'noteId' : note.id }) }}"  data-toggle="modal" data-target="#wbsModal" class='btn btn-primary deleteNote' title="Delete"><span class="fa fa-trash-o"></span></button>
                        {% endif %}
                    {% endif %}
                {% endif %}
			</td>
		</tr>
		<tr id="editNote_{{ note.id }}" class="showNote" style="display:none;">
		    <td width="50%">
		    {{ form_start(edit_form[note.id], {attr: {novalidate: 'novalidate', id: 'editNoteForm_'~note.id}},  {'method': 'POST'}) }}
			{{ form_row(edit_form[note.id]._token) }}
			{{ form_widget(edit_form[note.id].body, {attr: {class: 'form-control'}} ) }}
		    {{ form_end(edit_form[note.id])}}
		    </td>
		    
		    <td width="10%">{{ note.dateCreated|date('d-m-Y')  }}</td>
		    <td width="10%">{{ note.getUser.getName  }}</td>
		    <td width="20%">
			<div class="pull-left" style="margin-right:5px">
			    {{ form_start(edit_form[note.id], {attr: {novalidate: 'novalidate', id: 'editNoteForm_'~note.id}},  {'method': 'POST'}) }}
				{{ form_row(edit_form[note.id]._token) }}
				<button type="submit" name="editNoteAction" class='btn btn-primary updateNote' title="Save"><span class="fa  fa-check-square-o"></span></button>
			    {{ form_end(edit_form[note.id])}}
			</div>
			
			<div class="pull-left" style="margin-right:5px">
			    <a class="btn btn-primary cancelEdit" id="{{ note.id }}" title="Cancel"><i class="fa fa-times"></i></a>
			</div>
			
			<div class="pull-left">
				<button type="button" name="deleteNoteAction" id="{{ path('_core_note_delete', { 'entity' : 'client', 'entityId': clientId, 'noteId' : note.id }) }}"  data-toggle="modal" data-target="#wbsModal" class='btn btn-primary deleteNote' title="Delete"><span class="fa fa-trash-o"></span></button>
			</div>
		    </td>
		</tr>

	    {% endfor %}
	{% endif %}
	</tbody>
</table> 

<div class="hide">
    <form name="deleteFrm" id="deleteFrm" action="">
    </form>
</div>
