{% extends 'CoreBundle::pdfTemplate.html.twig' %}

{% block metaTitle %}Report - FHC{% endblock %}

{% block content -%}
	<div class="page">
		{% include 'CoreBundle::pdfHeader.html.twig' with {'heading': 'Analysis Report - Comprehensive'}%}
		 <table>
		  <tr>
            <td class="details" style="text-align:right"><b>{{ userDetails.name }}</b></td>
          </tr>
		  <tr>
            <td class="details" style="text-align:right"><b>{{ userDetails.phone }}</b></td>
          </tr>
		  <tr>
            <td class="details" style="text-align:right"><b>{{ userDetails.email }}</b></td>
          </tr>
		</table>
		<br/></br/>
		<table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="1" class="details"></td>
            <td colspan="2" class="details" style="color:#57B223;"><h2>{{ userDetails.name }}</h2></td>
            <td class="details"></td>
          </tr>
		  <tr>
            <td colspan="1" class="details"></td>
            <td colspan="2" class="details">
                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/images/logo.png') }}">
            </td>
            <td class="details"></td>
          </tr>
		</table>
		
		<div id="notices">
			<div><h3>DISCLAIMER:</h3></div>
			<div class="notice">
				This document is prepared on a proprietary algorithm-based technological Platform owned and maintained by FHC. This document is based entirely on the information provided by you. Despite our best efforts, due care and precautions, there may be some variables used in generation of this document which have not been unaccounted for, or miscalculated, by the Platform. FHC cannot and shall not be held liable for any pecuniary or non-pecuniary harm caused to you, your Distributor or any third party if the contents of this document are relied upon for any decision, or represented or disseminated further, whether correctly or incorrectly. Investments are subject to a variety of risks, uncertainties and other factors that could cause actual results to differ materially from expectations as expressed or implied under this document.
			</div>
		</div>
		<div id="footer">
			{% include 'CoreBundle::pdfFooter.html.twig'%}
	    </div>
	</div>
	
	<div class="page">
		
		<table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no" colspan="3" style="text-align:left">Contents</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="desc" colspan="2">INTRODUCTION</td>
            <td class="desc">1</td>
          </tr>
          <tr>
            <td class="desc" colspan="2">CONTENTS</td>
            <td class="desc">2</td>
          </tr>
          <tr>
            <td class="desc" colspan="2">GOAL SUMMARY</td>
            <td class="desc">3</td>
          </tr>
		  
		  {% set pageIndex = 3%}
		  {% if clientGoals is defined and clientGoals|length>0 %}
				{% for clientGoal in clientGoals %}
					{% set pageIndex = pageIndex + 1 %}
					<tr>
						<td class="desc" colspan="2" style=" text-transform: uppercase;">{{ clientGoal.name }}</td>
						<td class="desc">{{ pageIndex }}</td>
					</tr>
				{% endfor %}
		  {% endif %}
        </tbody>
        
      </table>
      
		<br/><br/>
		{% include 'CoreBundle::pdfFooter.html.twig'%}
	</div>
	
	<div class="page">
		{% include 'CoreBundle::pdfHeader.html.twig' with {'heading': 'Goal Summary'}%}
		
		 <table border="0" cellspacing="0" cellpadding="0">
		  <tr>
            <td class="details" style="text-align:left"><h2>Goal Summary</h2></td>
          </tr>
		  <tr>
            <td class="details" style="text-align:left">

			</td>
          </tr>
		</table>
		<br/></br/>
		<table border="0" cellspacing="0" cellpadding="0" class="goalTable">
        <thead>
          <tr>
            <th class="no textChange">Goal</th>
			<th class="no textChange">Goal Created Month/Year</th>
			<th class="no textChange">Goal Target Month/Year</th>
			<th class="no textChange">Goal Present Value</th>
			<th class="no textChange">Goal Inflation</th>
			<th class="no textChange">Goal Future Value</th>
          </tr>
        </thead>
        <tbody>
		  {% if clientGoals is defined and clientGoals|length>0 %}
				{% set counter = 0 %}
				{% for clientGoal in clientGoals %}
					{% set counter = counter + 1 %}
					{% set months = clientGoal.createdOn|calculateGoalMonths(clientGoal.year, clientGoal.month) %}
					 <tr>
						<td class="desc">{{ clientGoal.name }}</td>
						<td class="desc">{{ clientGoal.createdOn|date('M/Y') }}</td>
						<td class="desc">{{ clientGoal.month|getMonthName(clientGoal.year) }}/{{ clientGoal.year }}</td>
						<td class="desc">&#8377; {{ clientGoal.value|number_format(2, ".", ",") }}</td>
						<td class="desc">{{ inflationRateForUser }}%</td>
						<td class="desc">&#8377; {{ clientGoal.value|getFutureValue(inflationRateForUser, months)|number_format(2, ".", ",") }}</td>
					  </tr>
				{% endfor %}
		  {% endif %}
        </tbody>
		</table>
	  {% include 'CoreBundle::pdfFooter.html.twig'%}
	</div>
	
   {% if clientGoals is defined and clientGoals|length>0 %}
		{% for clientGoal in clientGoals %}
			{% set pageIndex = pageIndex + 1 %}
			{% set months = clientGoal.createdOn|calculateGoalMonths(clientGoal.year, clientGoal.month) %}
				<div class="page">
					{% include 'CoreBundle::pdfHeader.html.twig' with {'heading': 'Goals - My Dreams'}%}
					
					 <table border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td class="details" style="text-align:left"><h2>{{ clientGoal.name|capitalize }}</h2></td>
					  </tr>
					</table>
					
					<div id="row">
						<div>
							<p id="rcorners1" style="text-align:center;">
								<span style="color:#FFFFFF">PV</span>
								<br/><br/>
								<span style="color:#FFFFFF">&#8377; {{ clientGoal.value|number_format(2, ".", ",") }}</span>
							</p>
							
						</div>
						<div>
							<p id="circle" style="text-align:center;">
								<br/>
								<span><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/images/white-time.png') }}" height="20%" widht="20%"></span>
								<br/><br/>
								<span></span>
								<span style="color:#FFFFFF">{{ clientGoal.month|getMonthName(clientGoal.year) }}/{{ clientGoal.year }}</span>
							</p>
						</div>
						<div>
							<p id="rcorners1" style="text-align:center;">
								<span style="color:#FFFFFF">FV</span>
								<br/><br/>
								<span style="color:#FFFFFF">&#8377; {{ clientGoal.value|getFutureValue(inflationRateForUser, months)|number_format(2, ".", ",") }}</span>
							</p>
						</div>
					</div>
					
					<br/></br/>
					
					<table border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td colspan="1" class="details"></td>
						<td colspan="2" class="details">
							{% if clientGoal.value|getFutureValue(inflationRateForUser, months) <= clientGoal|getTotalAssetValueForAGoal(clientGoal.clientGoalAsset, app.request.get('userId')) %}
								<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/images/thumbs_up.png') }}" style="width: 200px" height="15%" widht="15%">
								{% set isAchievable = 'can' %}
							{% else %}
								<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/images/thumbs_down.png') }}" style="width: 200px" height="35%" widht="35%">
								{% set isAchievable = 'cannot' %}
							{% endif %}
						</td>
						<td class="details"></td>
					  </tr>
					  <tr>
						<td colspan="1" class="details"></td>
						<td colspan="2" class="details"><h3>This goal {{ isAchievable }} be achieved with existing assets</h3></td>
						<td class="details"></td>
					  </tr>
					</table>
					
					<br/></br/>
					<table border="0" cellspacing="0" cellpadding="0">
					<thead>
					  <tr>
						<th class="no" style="text-align:left; font-size:1.2em" colspan="2">Asset Name</th>
						<th class="no" style="text-align:left; font-size:1.2em">Present Value</th>
						<th class="no" style="text-align:left; font-size:1.2em">% Growth Rate</th>
						<th class="no" style="text-align:left; font-size:1.2em">Asset Future Value</th>
					  </tr>
					</thead>
					<tbody>
					  {% if clientGoal.clientGoalAsset|length>0 %}
						{% for goalAsset in clientGoal.clientGoalAsset %}
							{% set assetName = '' %}
							{% set assetYears = 0 %}
							{% if goalAsset.asset|length>0 %}
								{% set assetName = goalAsset.asset.name %}
                                
                                {% set fromDateVal = '' %}
                                {% if goalAsset.asset.clientAsset|length>0 %}
                                    {% for clientAssetCurr in goalAsset.asset.clientAsset %}
                                        {% if (clientAssetCurr.asset.id == goalAsset.asset.id) %}
                                            {% set fromDateVal = clientAssetCurr.fromDate %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if fromDateVal is not empty %}

                                    {% set assetYears = fromDateVal|calculateGoalMonths(clientGoal.year, clientGoal.month) %}
                                {% endif %}

							{% endif %}
							<tr>
								<td class="desc">{{ assetName }}{% if goalAsset.asset is not empty %}{% if goalAsset.asset.interestTypeMonthly %} (monthly){% endif %}{% endif %}</td>
                                    <td class="desc" colspan="2">&#8377; {{ goalAsset.value|number_format(2, ".", ",") }}</td>
								<td class="desc">{{ app.request.get('userId')|getRateAsPerUserAssumptionInTwig(goalAsset.asset) }}%</td>
								
								<td class="desc">
									{% if goalAsset.asset and goalAsset.asset.interestTypeMonthly %}
                                        {% set assetMonths = assetYears / 12 %}
										{% set assetFV = goalAsset.value|calculateFutureValueForMonthlyInterestInTwig(app.request.get('userId')|getRateAsPerUserAssumptionInTwig(goalAsset.asset),assetMonths, 12) %}
                                        &#8377; {{ assetFV|number_format(2, ".", ",") }}
									{% else %}
										&#8377; {{ goalAsset.value|getFutureValue(app.request.get('userId')|getRateAsPerUserAssumptionInTwig(goalAsset.asset), assetYears)|number_format(2, ".", ",") }}
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					  {% endif %}
					</tbody>
					</table>
					
					
					<table border="0" cellspacing="0" cellpadding="0" class="disclaimerTable">
					<thead>
					  <tr>
						<th class="no" style="text-align:center; font-size:1.2em" colspan="4">Assumption/Disclaimer</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td class="desc" colspan="4" style="text-align:justify">
							Inflation is assumed at {{ inflationRateForUser }}%.
						</td>
					  </tr>
					</tbody>
					</table>
				  {% include 'CoreBundle::pdfFooter.html.twig'%}
				</div>
		{% endfor %}
   {% endif %}

{% endblock %}