{% extends 'CoreBundle::2columns-left.html.twig' %}
{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}
{% block metaTitle %}Calculator - FHC{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content -%}
    <div class="page-header">
        <h1>Calculator</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ titles[app.request.get('type')] }}</span>
                </div>
                <div class="panel-body">
                    {% if errors is defined and errors|length>0 %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{errors[0]}}</span>
                        </div>
                    {% endif %}
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
                    <div class="control-group">
						<div class="row">
							<div class="col-md-7">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
                                            {% if formType == 'sip' %}
                                                <label class="required" for="form_years">Investment Period<span class="requiredField">*</span></label>
                                            {% else %}
                                                {{ form_label(form.years) }}
                                            {% endif %}
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											{{ form_widget(form.years) }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
                                            {% if formType == 'sip' %}
                                                <label class="required" for="form_principal">Monthly Investment in (&#8377;)<span class="requiredField">*</span></label>
                                            {% else %}
                                                <label class="required" for="form_principal">Required Amount in (&#8377;)<span class="requiredField">*</span></label>
                                            {% endif %}
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											{{ form_widget(form.principal) }}
                                            <label style="margin:5px 0px 10px 0px;">(as per current date)</label>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
                                            {% if formType == 'sip' %}
                                                <label class="required" for="form_inflationRate">Interest Rate<span class="requiredField">*</span></label>
                                            {% else %}
                                                {{ form_label(form.inflationRate) }}
                                            {% endif %}
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											{{ form_widget(form.inflationRate) }}
                                            <label style="margin:5px 0px 10px 0px;">(% per year)</label>
										</div>
									</div>
								</div>
                                {% if result is defined and result>0 %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Final value on Maturity (&#8377;)</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{ result }}" disabled />
                                    </div>
                                </div>
                                {% endif %}
							</div>
						</div>
                    {{ form_end(form) }}
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}