{% extends 'CoreBundle::2columns-left.html.twig' %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}


{% block content -%}
    
    <div class="page-header">
        <h1>Vehicle</h1>
    </div>
    
    <div class="row">
	    <div class="col-md-10">
		<ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
            <li>
                <a href="{{ path('_core_vehicle_edit', {'vehicleId': app.request.get('entityId')}) }}">View / Edit Vehicle</a>
            </li>
            <li>
                <a href="{{ path('_core_vehicle_upload_list', {'vehicleId': app.request.get('entityId')}) }}">Vehicle Uploads</a>
            </li>
            <li>
                <a href="{{ path('_core_vehicle_driver_allocation_list', {'vehicleId': app.request.get('entityId')}) }}">allocations</a>
            </li>
            <li>
                <a href="{{ path('_core_vehicle_contract_list', {'vehicleId': app.request.get('entityId')}) }}">contract</a>
            </li>
            <li class="active">
                <a href="">Notes</a>
            </li>
        </ul>    
		                
		<div class="tab-content tab-content-bordered">
		    <div class="panel">
			<div class="panel-heading">
			    <span class="panel-title">Create Notes</span>
			</div>
			
			<div class="panel-body">
			    {% if errors is defined and errors|length>0 %}
				<div class="alert alert-danger alert-dismissable" style="display:block">
				    <i class="fa fa-ban"></i>
				    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				    <span>{{errors.0.message}}</span>
				</div>
			    {% endif %}

			    {% include 'CoreBundle::globalMessage.html.twig'%}
			    
			    {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
			    
				    <div class="control-group">
					<div class="col-sm-12">
					    <div class="form-group">
                            {{ form_label(form.body) }}
                            {{ form_widget(form.body) }}
					    </div>
					</div>
					<button class="btn btn-primary pull-right createNote" type="submit" name="createNoteAction" title="Create">Create</button>
				    </div>
			    {{ form_end(form) }}
			    <br/><br/>
			</div>
		    </div>
		    
		    
		    <div id="noteData">
		    
		    </div>
		    
		    <div class="hide" id="noteListUrl">{{  path('_core_note_list', {'entity': 'vehicle', 'entityId' : vehicleId}) }}</div>
		</div> <!-- TAB DIV ENDS -->
	    </div>
    </div>
    
    <div class="hide">
        <form name="deleteFrm" id="deleteFrm" action="">
        </form>
   </div>
   
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/core/js/note.js') }}" type="text/javascript"></script>
{% endblock %}

