<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{%block metaTitle%}De Wagenparkbeheerders{%endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">-->

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ asset('bundles/core/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/core/css/pixel-admin.min.css') }}" rel="stylesheet" type="text/css" />
        <!--<link href="{{ asset('bundles/core/css/widgets.min.css') }}" rel="stylesheet" type="text/css" />-->
        <link href="{{ asset('bundles/core/css/pages.min.css') }}" rel="stylesheet" type="text/css" />
        <!--<link href="{{ asset('bundles/core/css/rtl.min.css') }}" rel="stylesheet" type="text/css" />-->
        <link href="{{ asset('bundles/core/css/themes.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/core/css/custom.css') }}" rel="stylesheet" type="text/css" />
        
        {% block stylesheets %} {% endblock %}
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/core/js/ie.min.js') }}" type="text/javascript">
        <![endif]-->
        
        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script>var init = [];</script>
        <script src="{{ asset('bundles/core/js/ie/jquery.min.js') }}" type="text/javascript"></script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script src="{{ asset('bundles/core/js/ie/jquery.min.js') }}" type="text/javascript"></script>
        <![endif]-->

        <script src="{{ asset('bundles/core/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/core/js/pixel-admin.min-new.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/core/js/custom.js') }}" type="text/javascript"></script>
        
        {% block javascripts %} {% endblock %}
    </head>
    <body class="theme-default page-signin">
	    {%block content %} {% endblock %}
       
    </body>
</html>