<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{%block metaTitle%}De Wagenparkbeheerders{%endblock%}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/core/images/favi1.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- Open Sans font from Google CDN -->
        <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">-->

        <!-- Pixel Admin's stylesheets -->
        <link href="{{ asset('bundles/core/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/core/css/pixel-admin.min.css') }}" rel="stylesheet" type="text/css" />
        <!--<link href="{{ asset('bundles/core/css/widgets.min.css') }}" rel="stylesheet" type="text/css" />-->
        <!--<link href="{{ asset('bundles/core/css/pages.min.css') }}" rel="stylesheet" type="text/css" />-->
        <!--<link href="{{ asset('bundles/core/css/rtl.min.css') }}" rel="stylesheet" type="text/css" />-->
        <link href="{{ asset('bundles/core/css/themes.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/core/css/custom.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/core/css/customer-style.css') }}" rel="stylesheet" type="text/css" />

        {% block stylesheets %} {% endblock %}

        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/core/js/ie.min.js') }}" type="text/javascript">
        <![endif]-->

        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
        <script>var init = [];</script>
        <script src="{{ asset('bundles/core/js/ie/jquery.min.js') }}" type="text/javascript"></script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
        <script src="{{ asset('bundles/core/js/ie/jquery.min.js') }}" type="text/javascript"></script>
        <![endif]-->

        <script src="{{ asset('bundles/core/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/core/js/dataTables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/core/js/pixel-admin.min-new.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/core/js/custom.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/core/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>

        {% block javascripts %} {% endblock %}
    </head>
	{% spaceless %}
    <body class="theme-default main-menu-animated customer-page showcase_bg">
		<div id="page-signin-bg"></div>		<!--  page background -->
		<div class="loading-image" style="display:none;"></div>
		<div class="load-lightbox" style="display:none;"></div>

		<div id="main-navbar" class="navbar header_nav" role="navigation">
			{% include 'CoreBundle::header-customer.html.twig' %}
		</div>

		<div id="main-wrapper">

            <div id="wbsModal" class="modal fade in" tabindex="-1" role="dialog" style="display: none;" aria-hidden="false">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">

                    </div> <!-- / .modal-body -->
                    <div class="modal-footer">
                    </div>
                </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>

            {% include 'CoreBundle::sidebar-customer.html.twig'%}

            <div id="content-wrapper" class='content-right'>
                {%block content %} {% endblock %}
            </div> <!-- / #content-wrapper -->
            <!-- <div id="main-menu-bg"></div> -->

        </div> <!-- / #main-wrapper -->
    </body>
    {% endspaceless %}
</html>