{% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <i class="fa fa-check"></i>
            <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            <i class="fa fa-ban"></i>
            <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endif %}

<div class="alert alert-success alert-dismissable" id="successMsg" style="display:none">
    <i class="fa fa-check"></i>
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <span></span>
</div>

<div class="alert alert-danger alert-dismissable" id="errorMsg" style="display:none">
    <i class="fa fa-ban"></i>
    <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
    <span></span>
</div>

<div class="alert alert-warning alert-dismissable" id="warningMsg" style="display:none">
    <i class="fa fa-info-circle"></i>
    <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
    <span></span>
</div>
