<div class="alert alert-success alert-dismissable" id="successMsgPopUp" style="display:none">
    <i class="fa fa-check"></i>
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <span></span>
</div>

<div class="alert alert-danger alert-dismissable" id="errorMsgPopUp" style="display:none">
    <i class="fa fa-ban"></i>
    <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
    <span></span>
</div>

<div class="alert alert-warning alert-dismissable" id="warningMsgPopUp" style="display:none">
    <i class="fa fa-info-circle"></i>
    <button data-dismiss="alert" class="close" type="button" data-original-title="">×</button>
    <span></span>
</div>
