<div class="navbar-inner">
    <!-- Main navbar header -->
    <div class="navbar-header">
	{% if app.user %}
		{% if app.user.company.0.companySetting|length > 0 %} 
			
			{% if app.user.company.0.companySetting.logo !=''%}			        
				<img alt="{% if app.user.name!=''%}{{app.user.name}}{% else %}WBS Admin{% endif %}" id='customer-logo' height="41" src="{{ path('_core_company_setting_logo', {'companySettingId' : app.user.company.0.companySetting.id }) }}" onerror="this.src='{{ asset('bundles/core/images/logoalt.png') }}'"  id='customer-logo'>
			{% endif %}
			
		{% endif %}
	{% endif %}

        
        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
    </div>
    
    <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
        <div> 
            <div class="right clearfix">
                <ul class="nav navbar-nav pull-right right-navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                            {#<img src="assets/demo/avatars/1.jpg" alt="">#}
                            <span>{% if app.user and app.user.name!=''%}{{app.user.name}}{% else %}WBS Admin{% endif %} <i class="icon icon-tool418"></i></span> 
                        </a>
                        <ul class="dropdown-menu">                           
                            <li><a href="{{ path('_core_user_logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <div id="removeMsg">confirmDelete</div>
    <div id="deleteLabel">Delete</div>
    <div id="confirm">Confirm</div>
    <div id="cancelLabel">{%trans%}Cancel{%endtrans%}</div>
    <div id="saveLabel">{%trans%}Save{%endtrans%}</div>
    <div id="removeSucessMsg">{%trans%}removeSuccess{%endtrans%}</div>
    <div id="searchLabel">{%trans%}search{%endtrans%}</div>
    <div id="colVisBtnLabel">{%trans%}show/hideColumns{%endtrans%}</div>
    <div id="csvBtnLabel">{%trans%}exportCsv{%endtrans%}</div>
    <div id="excelBtnLabel">{%trans%}exportExcel{%endtrans%}</div>
	<div id="perPage">perPage</div>
	<div id="previous">previous</div>
	<div id="next">next</div>
	<div id="showing">showing</div>
	<div id="to">to</div>
	<div id="of">of</div>
	<div id="entries">entries</div>
	<div id="noDataAvailable">noDataAvailable</div>
	<div id="warningLabel">warning</div>
    <div id="rowsLimit">25</div>
</div>
