<!-- Main menu toggle -->
<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
<div class="navbar-inner">
    <!-- Main navbar header -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            <div>
                {#<img alt="Pixel Admin" src="">#}
            </div>
            FHC Admin
        </a>
        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
    </div>
    
    <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
        <div> 
            <div class="right clearfix">
                <ul class="nav navbar-nav pull-right right-navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                            {#<img src="assets/demo/avatars/1.jpg" alt="">#}
                            <span>{% if app.user.name!=''%}{{app.user.name}} {{app.user.lastName}}{% else %}FHC Admin{% endif %}</span>
                        </a>
                        <ul class="dropdown-menu">
                            {% set userType = '' %}
                            {% if app.user.type == 1 %}
                                {% set userType = 'dealer' %}
                            {% elseif app.user.type == 2 %}
                                {% set userType = 'staff' %}
                            {% elseif app.user.type == 3 %}
                                {% set userType = 'client' %}
                            {% endif %}
                            {% if userType is not empty %}
                                {% if app.user.type == 3 %}
                                    <li><a href="{{ path('_core_user_edit', { 'userType' : 'client', 'userId' :  app.user.id  }) }}"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Edit Profile</a></li>
                                {% else %}
                                    <li><a href="{{ path('_core_user_edit_profile') }}"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Edit Profile</a></li>
                                {% endif %}


                                <li class="divider"></li>
                            {% endif %}
							<li><a href="{{ path('_core_user_logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>
                </ul>                 
				{{ render(controller('CoreBundle:Company:listUserCompanies')) }}
            </div>
        </div>
        
    </div>
    
</div>

<div class="hide">
    <div id="removeMsg">Are you sure, you want to delete this record?</div>
    <div id="deleteLabel">Delete</div>
    <div id="confirm">Confirm</div>
    <div id="cancelLabel">Cancel</div>
    <div id="saveLabel">Save</div>
    <div id="removeSucessMsg">Record removed successfully</div>
    <div id="searchLabel">Search</div>
    <div id="colVisBtnLabel">Show/Hide Columns</div>
    <div id="csvBtnLabel">Export CSV</div>
    <div id="excelBtnLabel">Export Excel</div>
	<div id="perPage">Per Page</div>
	<div id="previous">Previous</div>
	<div id="next">Next</div>
	<div id="showing">Showing</div>
	<div id="to">to</div>
	<div id="of">of</div>
	<div id="entries">entries</div>
	<div id="noDataAvailable">No Data Available</div>
	<div id="warningLabel">Warning</div>
    <div id="rowsLimit">25</div>
</div>
