<header class="clearfix">
  
	<table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="details">
				<div id="logo">
					<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/images/logo.png') }}">
				  </div>
			</td>
            <td class="details">
				<table border="0" cellspacing="0" cellpadding="0" class="headerTable">
					  <tr>
						<td class="no">{{ heading }}</td>
					  </tr>
				 </table>
			</td>
          </tr>
	</table>	  
</header>