<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Analysis Report</title>
    <link href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/core/css/pdf.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    
    <main>
      {%block content %} {% endblock %}
    </main>
    
  </body>
</html>