<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
       
		{% set permittedModules = app.session.get('modules') %}
		{% set moduleNameArray = [] %}
		{% set actions = [] %}
		{% set moduleActionsArr = [] %}

		{% for moduleName, moduleActions in permittedModules %}
			{% set moduleNameArray = moduleNameArray|merge([moduleName]) %}
			{% if permittedModules|length>0 and permittedModules[moduleName] is defined and permittedModules[moduleName]|length>0 %}
				{% set moduleActionsArr = moduleActionsArr|merge(permittedModules[moduleName]) %}
				{% if moduleActionsArr['slug'] is defined and moduleActionsArr['slug']|length>0 %}
					{% set actions = actions|merge(moduleActionsArr['slug']) %}
				{% endif %}
			{% endif %}
		{% endfor %}
		
	   <ul class="navigation">
			{% if (app.user.isAdmin != true and 'dashboard' in moduleNameArray) or app.user.isAdmin == true %}
            <li>
                <a href="{{ path('_core_homepage') }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
            </li>
			{% endif %}
			{% if (app.user.isAdmin != true and 'manageClient' in moduleNameArray and app.user.type != 3) or app.user.isAdmin == true %}
			<li class="mm-dropdown">
				<a href="#"><i class="menu-icon fa fa-users"></i><span class="mm-text">Clients</span></a>
				<ul>
					{% if (app.user.isAdmin != true and 'addClient' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_user_new', {'userType': 'client'}) }}">Add Client</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'listClient' in actions) or app.user.isAdmin == true %}
					<li data="client">
						<a href="{{ path('_core_user_list', {'userType': 'client'}) }}" relatedRoutes="_core_user_family_details_client||_core_user_goals_client||_core_client_goal_new_client||_core_client_goal_edit_client||_core_client_upload_list_client||_core_note_new_client||_core_user_assumption_client||_core_goal_report_list_client||_core_update_user_permissions_client">Manage Clients</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% endif %}
			{% if (app.user.isAdmin != true and 'manageDealer' in moduleNameArray) or app.user.isAdmin == true %}
			<li class="mm-dropdown">
				<a href="#"><i class="menu-icon fa fa-users"></i><span class="mm-text">Dealers</span></a>
				<ul>
					{% if (app.user.isAdmin != true and 'addDealer' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_user_new', {'userType': 'dealer'}) }}">Add Dealer</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'listDealer' in actions) or app.user.isAdmin == true %}
					<li data="dealer">
						<a href="{{ path('_core_user_list', {'userType': 'dealer'}) }}" relatedRoutes="_core_user_edit_dealer||">Manage Dealers</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% endif %}
			{% if (app.user.isAdmin != true and 'manageStaff' in moduleNameArray) or app.user.isAdmin == true %}
			<li class="mm-dropdown">
				<a href="#"><i class="menu-icon fa fa-users"></i><span class="mm-text">Staff</span></a>
				<ul>
					{% if (app.user.isAdmin != true and 'addStaff' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_user_new', {'userType': 'staff'}) }}">Add Staff</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'listStaff' in actions) or app.user.isAdmin == true %}
					<li data="staff">
						<a href="{{ path('_core_user_list', {'userType': 'staff'}) }}" relatedRoutes="_core_user_edit_staff||">Manage Staff</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% endif %}
			{% if (app.user.isAdmin != true and 'calculators' in moduleNameArray) or app.user.isAdmin == true %}
			<li class="mm-dropdown">
				<a href="#"><i class="menu-icon fa fa-table"></i><span class="mm-text">Calculators</span></a>
				<ul>
					{#{% if (app.user.isAdmin != true and 'calculatorRetirement' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="#">Retirement Planning</a>
					</li>
					{% endif %}#}
					{% if (app.user.isAdmin != true and 'calculatorDreamHouse' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'house'}) }}" relatedRoutes="_core_calculator_form">Dream House Planning</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'calculatorDreamCar' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'car'}) }}" relatedRoutes="_core_calculator_form">Dream Car Planning</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'calculatorDreamVacation' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'vacation'}) }}" relatedRoutes="_core_calculator_form">Dream Vacation Planning</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'calculatorChildEducation' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'childeducation'}) }}" relatedRoutes="_core_calculator_form">Child Education Planning</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'calculatorChildMarriage' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'childmarriage'}) }}" relatedRoutes="_core_calculator_form">Child Marriage Planning</a>
					</li>
					{% endif %}
					{% if (app.user.isAdmin != true and 'calculatorSip' in actions) or app.user.isAdmin == true %}
					<li>
						<a href="{{ path('_core_calculator_form', {'type': 'sip'}) }}" relatedRoutes="_core_calculator_form">Sip-o-meter</a>
					</li>
					{% endif %}
				</ul>
			</li>
			
			{% endif %}
            {% if app.user.isAdmin==true %}
               <li class="mm-dropdown">
                   <a href="#"><i class="menu-icon fa fa-wrench"></i><span class="mm-text">Settings</span></a>
                   <ul>
                       <li>
                           <a href="{{ path('_core_role_permissions') }}" relatedRoutes="_core_role_permissions">Role Permissions</a>
                       </li>
                   </ul>
               </li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
$(document).ready(function(){
	
	var currentRoute = "{{ app.request.attributes.get('_route') }}";
	var pathInfo = "{{  app.request.pathinfo }}";
	var currentUrl = "{{  app.request.uri }}";
	var pathInfoArr = pathInfo.split('/');
	
	var routeParamsArr = [];
	{% set arr = [] %}
	{% set arr = arr|merge(app.request.attributes.get('_route_params')) %}
	{% for key, routeParam in arr %}
		routeParamsArr.push('{{ routeParam }}');
	{% endfor %}
	var stopFurtherProcess = [];
	setTimeout(function(){
		$('#main-menu-inner ul.navigation li').each(function(i) {
			if ($(this).hasClass('mm-dropdown')) {
                var parentLiObj = $(this);
				
				$(this).find('li').each(function(e) {
					var attrClass = $(this).attr('class');
					if(typeof attrClass != 'undefined' && attrClass != '') {
						stopFurtherProcess = 'active';
					}
				});
			}	
		});		
		
		if(stopFurtherProcess.length<=0) {
			$('#main-menu-inner ul.navigation li').each(function(i) {
				if ($(this).hasClass('mm-dropdown')) {
					var parentLiObj = $(this);
					
					$(this).find('li a').each(function(e) {
						var relatedRoutes = $(this).attr('relatedRoutes');
						var liAttrData = $(this).parent().attr('data');  
						var foundCount = 0;
						
						if (typeof relatedRoutes!='undefined' && relatedRoutes!='') {
							var relatedRoutesArr = relatedRoutes.split('||');
							$.each(relatedRoutesArr, function(key, cell){
								if(typeof liAttrData != 'undefined') {
									if (cell.indexOf(liAttrData) >= 0) {
										foundCount++;
									}
								}
							});
							
							if(foundCount>0 && typeof liAttrData != 'undefined' && $.inArray(liAttrData, pathInfoArr) !== -1) {
								
								parentLiObj.addClass('active open');
								$(this).parent().addClass('active');

								var objLi = $(this).parent('li');
								var objUl = objLi.parent('ul')
								objUl.parent('li .mm-dropdown').addClass('open')

								chidLiSelected = true;
								return false;
							}
						}
					});
				}
			});
		}
	}, 300);
});
</script>