<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        <ul class="navigation">
			<li>
                <a href="{{ path('_core_customer_dashboard') }}">
					<i class="icon icon-home168"></i>
					<span class="mm-text">Home</span>
				</a>
            </li>
            <li class='inactive'>
                <a href="javascript:void(0)">
					<i class="icon icon-statistics41"></i>
					<span class="mm-text">kpiDashboard</span>
				</a>
            </li>
            <li relatedRoutes="_core_customer_vehicle_list">
                <a href="{{ path('_core_customer_vehicle_list') }}">
					<i class="icon icon-car80"></i>
					<span class="mm-text">Vehicle</span>
				</a>
            </li>
			<li relatedRoutes="_core_customer_driver_list">
                <a href="{{ path('_core_customer_driver_list') }}">
					<i class="icon icon-key"></i>
					<span class="mm-text">Driver List</span>
				</a>
            </li>
            <li relatedRoutes="_core_customer_vehicle_order_list">
                <a href="{{ path('_core_customer_vehicle_order_list') }}">
					<i class="icon icon-wallet33"></i>
					<span class="mm-text">orders</span>
				</a>
            </li>
            
            <li relatedRoutes="_core_driver_new||_core_driver_edit" class='inactive'>
                <a href="javascript:void(0)">
					<i class="icon icon-package8"></i>
					<span class="mm-text">Financial</span>
				</a>
            </li> 
			<li relatedRoutes="_core_customer_vehicle_contract_to_expire">
                <a href="{{ path('_core_customer_vehicle_contract_to_expire') }}">
					<i class="icon icon-time36"></i>
					<span class="mm-text">uitlopende</span>
				</a>
            </li>
			<li relatedRoutes="_core_customer_vehicle_apk_date_expiry">
                <a href="{{ path('_core_customer_vehicle_apk_date_expiry') }}">
					<i class="icon icon-vehicle18"></i>
					<span class="mm-text">apk</span>
				</a>
            </li>
			<li class='inactive'>
                <a href="javascript:void(0)">
					<i class="icon icon-fuel14"></i>
					<span class="mm-text">tankingen</span>
				</a>
            </li>
			<li class='inactive'>
                <a href="javascript:void(0)">
					<i class="icon icon-car123"></i>
					<span class="mm-text">bekeuringen</span>
				</a>
            </li>
			
			<li class='inactive'>
                <a href="javascript:void(0)">
					<i class="icon icon-collision"></i>
					<span class="mm-text">Schades</span>
				</a>
            </li>
        </ul>
    </div>
</div>
<script>
$(document).ready(function(){
	var currentRoute = "{{ app.request.attributes.get('_route') }}";
	setTimeout(function(){
		$('#main-menu-inner ul.navigation li').each(function(i) {
		
            var chidLiSelected = false;
			var relatedRoutes = $(this).attr('relatedRoutes');
			if (typeof relatedRoutes!='undefined' && relatedRoutes!='') {
                
                var relatedRoutesArr = relatedRoutes.split('||');
				if($.inArray(currentRoute, relatedRoutesArr) >= 0){
				
                    $(this).addClass('active');
                    
					return false;
				} 
			} else if ($(this).hasClass('mm-dropdown')) {
                var parentLiObj = $(this);
                $(this).find('li a').each(function(e) { 
                
                    var relatedRoutes = $(this).attr('relatedRoutes');
                    if (typeof relatedRoutes!='undefined' && relatedRoutes!='') {
                        var relatedRoutesArr = relatedRoutes.split('||');
                        if($.inArray(currentRoute, relatedRoutesArr) >= 0){
                            
                            parentLiObj.addClass('active open');
                            $(this).parent().addClass('active');
                            
                            var objLi = $(this).parent('li');
                            var objUl = objLi.parent('ul')
                            objUl.parent('li .mm-dropdown').addClass('open')
                            
                            chidLiSelected = true;
                            return false;
                        }
                    }
                });
            }
            if (chidLiSelected==true) {
                return false;
            }
		});
	}, 300)
})
</script>