{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

<div class="control-group">
    {% include 'CoreBundle::global-message-popup.html.twig'%}
    
    {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'editStaticValueFrm'}, 'action': path('_core_static_value_edit', {'formType' : app.request.get('formType'), 'staticValueId' : app.request.get('staticValueId')}) },  {'method': 'POST'}) }}
        {% if app.request.get('formType') == 'leaseCategory' %}
            <div class="form-group">
                {{ form_row(form.value) }}
                {{ form_row(form.description) }}
            </div>
        {% else %}
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            
            {% if app.request.get('formType') == 'supplier' %}
				<div class="form-group">
					{{ form_row(form.contactEmail) }}
				</div>
				
            {% endif %}
            
            {% if app.request.get('formType') == 'supplier' or  app.request.get('formType') == 'documentType' or app.request.get('formType') == 'journalCode' or app.request.get('formType') == 'orderStatus'%}
            
				<div class="hide">
					{{ form_row(form.company) }}
				</div>
				
			{% endif %}
            
        {% endif %}
    {{ form_end(form) }}
</div>

