{% extends 'CoreBundle::2columns-left.html.twig' %}

{%block metaTitle%}Static Value Management - wbs{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Static Value Management</h1>
    </div>
        
    <div class="row">
        {% include 'CoreBundle::globalMessage.html.twig'%}
        <!-- BRANDS PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Brands</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if brands is defined and brands|length > 0 %}
                                    {% for brand in brands %}
                                        <tr>
                                            <td>{{ brand.id }}</td>
                                            <td>{{ brand.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit brand" id="{{ path('_core_static_value_edit', {'formType':'brand', 'staticValueId':brand.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if brand.id in usedBrands %}<i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'brand', 'staticValueId':brand.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add brand" id="{{ path('_core_static_value_new', {'formType' : 'brand'}) }}"><span class="btn-label icon fa fa-plus"></span>Add brand</button>
                </div>
            </div>
        </div>
        <!-- END BRANDS PANEL -->
        
        <!-- SUPPLIERS PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">supplier</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="20%">Name</th>
                                    <th width="50%">Email</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if suppliers is defined and suppliers|length > 0 %}
                                    {% for supplier in suppliers %}
                                        <tr>
                                            <td>{{ supplier.id }}</td>
                                            <td>{{ supplier.name }}</td>
                                            <td>{{ supplier.contactEmail }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit Supplier" id="{{ path('_core_static_value_edit', {'formType':'supplier', 'staticValueId':supplier.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if supplier.id in usedSuppliers %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'supplier', 'staticValueId':supplier.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Supplier" id="{{ path('_core_static_value_new', {'formType' : 'supplier'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Supplier</button>
                </div>
            </div>
        </div>
        <!-- END SUPPLIERS PANEL -->
        
        <!-- VEHICLE TYPE PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Vehicle Type</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if vehicleTypes is defined and vehicleTypes|length > 0 %}
                                    {% for vehicleType in vehicleTypes %}
                                        <tr>
                                            <td>{{ vehicleType.id }}</td>
                                            <td>{{ vehicleType.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit VehicleType" id="{{ path('_core_static_value_edit', {'formType':'vehicleType', 'staticValueId':vehicleType.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if vehicleType.id in usedVehicleTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'vehicleType', 'staticValueId':vehicleType.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Vehicle type" id="{{ path('_core_static_value_new', {'formType' : 'vehicleType'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Vehicle type</button>
                </div>
            </div>
        </div>
        <!-- END VEHICLE TYPE PANEL -->
        
    </div>
    
    <div class="row">
        <!-- INCOME TAX ADDITION PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Income tax addition</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if incomeTaxAdditions is defined and incomeTaxAdditions|length > 0 %}
                                    {% for incomeTaxAddition in incomeTaxAdditions %}
                                        <tr>
                                            <td>{{ incomeTaxAddition.id }}</td>
                                            <td>{{ incomeTaxAddition.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit Income Tax addition" id="{{ path('_core_static_value_edit', {'formType':'incomeTaxAddition', 'staticValueId':incomeTaxAddition.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if incomeTaxAddition.id in usedIncomeTaxAdditions %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'incomeTaxAddition', 'staticValueId':incomeTaxAddition.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Income tax addition" id="{{ path('_core_static_value_new', {'formType' : 'incomeTaxAddition'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Income tax addition</button>
                </div>
            </div>
        </div>
        <!-- END VEHICLE TYPE PANEL -->
        
        <!-- ENERGY LABEL PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Energy label</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if energyLabels is defined and energyLabels|length > 0 %}
                                    {% for energyLabel in energyLabels %}
                                        <tr>
                                            <td>{{ energyLabel.id }}</td>
                                            <td>{{ energyLabel.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit Energy label" id="{{ path('_core_static_value_edit', {'formType':'energyLabel', 'staticValueId':energyLabel.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if energyLabel.id in usedEnergyLabels %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'energyLabel', 'staticValueId':energyLabel.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Energy Label" id="{{ path('_core_static_value_new', {'formType' : 'energyLabel'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Energy Label</button>
                </div>
            </div>
        </div>
        <!-- END ENERGY LABEL PANEL -->

        <!-- DOCUMENT TYPE PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Document Type</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if documentTypes is defined and documentTypes|length > 0 %}
                                    {% for documentType in documentTypes %}
                                        <tr>
                                            <td>{{ documentType.id }}</td>
                                            <td>{{ documentType.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit Document Type" id="{{ path('_core_static_value_edit', {'formType':'documentType', 'staticValueId':documentType.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if documentType.id in usedDocumentTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'documentType', 'staticValueId':documentType.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Document Type" id="{{ path('_core_static_value_new', {'formType' : 'documentType'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Document Type</button>
                </div>
            </div>
        </div>
        <!-- END DOCUMENT TYPE PANEL -->
        
    </div>
    
    <div class="row">
        <!-- FUEL TYPE PANEL -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Fuel Type</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if fuelTypes is defined and fuelTypes|length > 0 %}
                                    {% for fuelType in fuelTypes %}
                                        <tr>
                                            <td>{{ fuelType.id }}</td>
                                            <td>{{ fuelType.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="Edit Fuel Type" id="{{ path('_core_static_value_edit', {'formType':'fuelType', 'staticValueId':fuelType.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if fuelType.id in usedFuelTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'fuelType', 'staticValueId':fuelType.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Fuel Type" id="{{ path('_core_static_value_new', {'formType' : 'fuelType'}) }}"><span class="btn-label icon fa fa-plus"></span>Add Fuel Type</button>
                </div>
            </div>
        </div>
        <!-- END FUEL TYPE PANEL -->
        
        <!-- COUNTRIES -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">country</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if countries is defined and countries|length > 0 %}
                                    {% for country in countries %}
                                        <tr>
                                            <td>{{ country.id }}</td>
                                            <td>{{ country.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editCountry" id="{{ path('_core_static_value_edit', {'formType':'country', 'staticValueId':country.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if country.id in usedCountries %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'country', 'staticValueId':country.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="Add Country" id="{{ path('_core_static_value_new', {'formType' : 'country'}) }}"><span class="btn-label icon fa fa-plus"></span>addCountry</button>
                </div>
            </div>
        </div>
        <!-- END OF COUNTRIES -->
        
        <!-- LEASE CATEGORIES -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">leaseCategory</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Value</th>
                                    <th width="80%">Description</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if leaseCategories is defined and leaseCategories|length > 0 %}
                                    {% for leaseCategory in leaseCategories %}
                                        <tr>
                                            <td>{{ leaseCategory.id }}</td>
                                            <td>{{ leaseCategory.value }}</td>
                                            <td>{{ leaseCategory.description }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editLeaseCategory" id="{{ path('_core_static_value_edit', {'formType':'leaseCategory', 'staticValueId':leaseCategory.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if leaseCategory.id in usedLeaseCategories %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'leaseCategory', 'staticValueId':leaseCategory.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addLeaseCategory" id="{{ path('_core_static_value_new', {'formType' : 'leaseCategory'}) }}"><span class="btn-label icon fa fa-plus"></span>addLeaseCategory</button>
                </div>
            </div>
        </div>
        <!-- END OF LEASE CATEGORIES -->
    </div>
    
    <div class="row">
        <!-- CONTRACT STATES -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">contractStatus</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if contractStates is defined and contractStates|length > 0 %}
                                    {% for contractState in contractStates %}
                                        <tr>
                                            <td>{{ contractState.id }}</td>
                                            <td>{{ contractState.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editContractState" id="{{ path('_core_static_value_edit', {'formType':'contractState', 'staticValueId':contractState.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if contractState.id in usedContractStates %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'contractState', 'staticValueId':contractState.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addContractStatus" id="{{ path('_core_static_value_new', {'formType' : 'contractState'}) }}"><span class="btn-label icon fa fa-plus"></span>addContractStatus</button>
                </div>
            </div>
        </div>
        <!-- END OF CONTRACT STATES -->
        
        <!-- CALCULATION TYPES -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">calculationType</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if calculationTypes is defined and calculationTypes|length > 0 %}
                                    {% for calculationType in calculationTypes %}
                                        <tr>
                                            <td>{{ calculationType.id }}</td>
                                            <td>{{ calculationType.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editcalculationType" id="{{ path('_core_static_value_edit', {'formType':'calculationType', 'staticValueId':calculationType.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if calculationType.id in usedCalculationTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'calculationType', 'staticValueId':calculationType.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addCalculationType" id="{{ path('_core_static_value_new', {'formType' : 'calculationType'}) }}"><span class="btn-label icon fa fa-plus"></span>addCalculationType</button>
                </div>
            </div>
        </div>
        <!-- END OF CONTRACT STATES -->
        
        <!-- COST TYPE -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">costType</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if costTypes is defined and costTypes|length > 0 %}
                                    {% for costType in costTypes %}
                                        <tr>
                                            <td>{{ costType.id }}</td>
                                            <td>{{ costType.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editCostType" id="{{ path('_core_static_value_edit', {'formType':'costType', 'staticValueId':costType.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                
                                                {% if costType.id in usedCostTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'costType', 'staticValueId':costType.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addCostType" id="{{ path('_core_static_value_new', {'formType' : 'costType'}) }}"><span class="btn-label icon fa fa-plus"></span>addCostType</button>
                </div>
            </div>
        </div>
        <!-- END OF COST TYPE -->
        
    </div>
    
    <div class="row">
        <!-- JOURNAL CODE -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">journalCode</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if journalCodes is defined and journalCodes|length > 0 %}
                                    {% for journalCode in journalCodes %}
                                        <tr>
                                            <td>{{ journalCode.id }}</td>
                                            <td>{{ journalCode.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editJournalCode" id="{{ path('_core_static_value_edit', {'formType':'journalCode', 'staticValueId':journalCode.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if journalCode.id in usedJournalCodes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'journalCode', 'staticValueId':journalCode.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addJournalCode" id="{{ path('_core_static_value_new', {'formType' : 'journalCode'}) }}"><span class="btn-label icon fa fa-plus"></span>addJournalCode</button>
                </div>
            </div>
        </div>
        <!-- END OF JOURNAL CODE -->
        
        <!-- ORDER STATUS -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">orderStatus</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orderStatuses is defined and orderStatuses|length > 0 %}
                                    {% for orderStatus in orderStatuses %}
                                        <tr>
                                            <td>{{ orderStatus.id }}</td>
                                            <td>{{ orderStatus.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editOrderStatus" id="{{ path('_core_static_value_edit', {'formType':'orderStatus', 'staticValueId':orderStatus.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if orderStatus.id in usedOrderStatuses %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'orderStatus', 'staticValueId':orderStatus.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addOrderStatus" id="{{ path('_core_static_value_new', {'formType' : 'orderStatus'}) }}"><span class="btn-label icon fa fa-plus"></span>addOrderStatus</button>
                </div>
            </div>
        </div>
        <!-- END OF JOURNAL CODE -->
        
        <!-- OWNERSHIP TYPE -->
        <div class="col-md-12 col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">ownershipType</span>
                </div>
            
                <div class="panel-body">
                    <div class="table-primary">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Id</th>
                                    <th width="80%">Name</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ownershipType is defined and ownershipType|length > 0 %}
                                    {% for type in ownershipType %}
                                        <tr>
                                            <td>{{ type.id }}</td>
                                            <td>{{ type.name }}</td>
                                            <td align="center">
                                                <a href="javascript:void(0);" class="editStaticValue" title="editOwnershipType" id="{{ path('_core_static_value_edit', {'formType':'ownershipType', 'staticValueId':type.id }) }}"><i class="fa fa-edit"></i></a>&nbsp;
                                                {% if type.id in usedOwnershipTypes %} <i class="fa fa-trash-o"></i> {% else %}<a href="javascript:void(0);" class="deleteStaticValue" title="deleteRecord" id="{{ path('_core_static_value_delete', {'formType':'ownershipType', 'staticValueId':type.id }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td colspan="3">No data available</td>
                                        </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-sm btn-labeled btn-default addStaticValue" title="addOwnershipType" id="{{ path('_core_static_value_new', {'formType' : 'ownershipType'}) }}"><span class="btn-label icon fa fa-plus"></span>addOwnershipType</button>
                </div>
            </div>
        </div>
        <!-- END OF OWNERSHIP TYPE -->
        
    </div>
    
        
    </div>
    <form id="staticValueFrm" name="staticValueFrm" action="" method="POST"></form>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/static-value.js') }}"></script>
{% endblock %}
