{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block content -%}

    <div class="page-header">
        <h1>Assumptions</h1>
    </div>
	
	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}
	
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
				{% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
					<li class="active">
						<a href="javascript:void(0)">Assets & Assumptions</a>
					</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">Assets & Assumptions</a>
					</li>
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
				{% endif %}
            </ul>
            <div class="tab-content tab-content-bordered">
                {% include 'CoreBundle::globalMessage.html.twig'%}
                <form id="formAddUserAssumptions" name="formAddUserAssumptions" method="post" action="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Assets</span>
                        </div>
                        <div class="panel-body">
                            <div class="control-group">
                            {% if listAssets is defined and listAssets|length > 0 %}
                                <div class="row">
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-sm-5 col-xs-10">
                                                <label>Value in (&#8377;)</label>
                                            </div>
											<div class="col-sm-3 col-xs-6">&nbsp;</div>
											<div class="col-sm-4 col-xs-12">
                                                <label>Current Value in (&#8377;)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for listAsset in listAssets %}
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="pull-right">
                                                {{ listAsset.name }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            {% set assetValue = '' %}
                                            {% set assetDate = '' %}
                                            {% if userAssets is defined and userAssets|length %}
                                                {% if userAssets[listAsset.id]['value'] is defined and userAssets[listAsset.id]['value'] is not empty %}
                                                    {% set assetValue = userAssets[listAsset.id]['value'] %}
                                                {% endif %}

                                                {% if userAssets[listAsset.id]['fromDate'] is defined and userAssets[listAsset.id]['fromDate'] is not empty %}
                                                    {% set assetDate = userAssets[listAsset.id]['fromDate'] %}
                                                {% endif %}
                                            {% endif %}
											
											{% set currentDate = "now"|date("m/d/Y") %}
											{% set months = currentDate|calculateMonthsForAssets(assetDate) %}

											{% if listAsset.interestTypeMonthly %}
												{% set futureValue = assetValue|calculateFutureValueForMonthlyInterestInTwig(app.request.get('userId')|getRateAsPerUserAssumptionInTwig(listAsset),months/12, 12) %}
											{% else %}
												{% set futureValue = assetValue|getFutureValue(app.request.get('userId')|getRateAsPerUserAssumptionInTwig(listAsset), months) %}
											{% endif %}
											
                                            <div class="col-sm-3 col-xs-4">
                                                <input type="number" name="user_asset[{{ listAsset.id }}][value]" step="0.01" class="form-control" value="{{ assetValue }}">
                                            </div>
                                            <div class="col-sm-5 col-xs-10">
                                                <div class="input-group multipleDatepickerControl date">
                                                    <input class="form-control" type="text" name="user_asset[{{ listAsset.id }}][fromDate]" value="{{ assetDate }}" >
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
											<div class="col-sm-4 col-xs-4">
                                                <input class="form-control" type="text" value="{{ futureValue|number_format(2, ".", ",") }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                            <br/><br/>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Growth Assumptions</span>
                        </div>
                        <div class="panel-body">
                            <div class="control-group">
                                {% if assumptionQuestions is defined and assumptionQuestions|length > 0 %}
                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="col-sm-6 col-xs-12">
                                                    <label>Value in (%)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for assumptionQuestion in assumptionQuestions %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="pull-right">
                                                        {{ assumptionQuestion.question }}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-4">
                                                <div class="form-group">
                                                    <div class="col-sm-6 col-xs-12">
                                                        {% set assumptionValue = assumptionQuestion.answer %}
                                                        {% if userAssumptions is defined and userAssumptions|length %}
                                                            {% if userAssumptions[assumptionQuestion.id] is defined and userAssumptions[assumptionQuestion.id] is not empty %}
                                                                {% set assumptionValue = userAssumptions[assumptionQuestion.id] %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <input type="number" name="user_assumption[{{ assumptionQuestion.id }}][answer]" step="0.01" max="100" class="form-control" value="{{ assumptionValue }}" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    </div>
                                {% endif %}
                            </div>
                            <br/><br/>
                        </div>
                    </div>
                </form>
            </div> <!-- TAB DIV ENDS -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}