{% extends 'CoreBundle::2columns-left.html.twig' %}
{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block metaTitle %}{{ userType|capitalize }} - FHC{% endblock %}

{% block stylesheets %}
<!--[if IE]>
<style>
    .scheduler-border .treeview .last {
	margin-left:16px !important;
    }
</style>
<![endif]-->
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>View / Edit {{ userType|capitalize }}</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content tab-content-bordered">
                {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal details</h3>
                    </div>

                    <div class="panel-body">
                        {% include 'CoreBundle::globalMessage.html.twig'%}

                        {% if errors is defined and errors|length>0 %}
                            <div class="alert alert-danger alert-dismissable" style="display:block">
                                <i class="fa fa-ban"></i>
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <span>{{errors.0.message}}</span>
                            </div>
                        {% elseif passwordError is defined and passwordError!='' %}
                            <div class="alert alert-danger alert-dismissable" style="display:block">
                                <i class="fa fa-ban"></i>
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <span>{{passwordError}}</span>
                            </div>
                            <input type="hidden" name="donotDisable" id="donotDisable" value="1" />
						{% elseif customError is defined and customError|length>0 %}
                            <div class="alert alert-danger alert-dismissable" style="display:block">
                                <i class="fa fa-ban"></i>
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <span>{{ customError }}</span>
                            </div>
                        {% endif %}


                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.name) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>

                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.lastName) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.lastName) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.dob) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.dob) }}
                                    </div>
                                </div>

                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.gender) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.gender) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.maritalStatus) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.maritalStatus) }}
                                    </div>
                                </div>
								
								{% if userType == 'client'%}
									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<div class="form-group">
											{{ form_label(form.occupation) }}
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											{{ form_widget(form.occupation) }}
										</div>
									</div>
								{% endif %}
								{% if userType == 'dealer'%}
									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<label for="swan_corebundle_dealer_company">Company&nbsp;<span class="requiredField">*</span></label>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<input class="form-control " type="text" id="swan_corebundle_dealer_company" name="dealer_company" value="{{ app.session.get('company')|getCompanyNameFromId }}" required="required">
										</div>
									</div>
								{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Contact Details</span>
                    </div>

                    <div class="panel-body">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>

                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.mobile) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.mobile) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.country) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.country) }}
                                    </div>
                                </div>

                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.state) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.state) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        {{ form_label(form.address) }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="form-group">
                                                        {{ form_widget(form.address) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        {{ form_label(form.city) }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-7" style="padding-left: 0 !important;">
                                                    <div class="form-group">
                                                        {{ form_widget(form.city) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        {{ form_label(form.pincode) }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-7" style="padding-left: 0 !important;">
                                                    <div class="form-group">
                                                        {{ form_widget(form.pincode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Change Password</span>
                    </div>

                    <div class="panel-body">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.password.first) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.password.first) }}
                                    </div>
                                </div>

                                <div class="col-sm-1"><div data-toggle="tooltip" title="changePassword"><a href="javascript:void(0);" id="editPassword"><i class="fa fa-fw fa-pencil"></i></a></div></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.password.second) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.password.second) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/user-edit.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#swan_corebundle_user_password_first').attr('disabled', true);
            $('#swan_corebundle_user_password_second').attr('disabled', true);
        })
    </script>
{% endblock %}