<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Investment Details</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4 class="box-title">General Assets</h4>
                </div>
                <div class="form-group">
                    <label>Shares</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Deposits</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Gold</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Property</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mutual Funds</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Bonds</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Others</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h4 class="box-title">Retirement Assets</h4>
                </div>
                <div class="form-group">
                    <label>Provident Funds</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Pension Plans</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>National Pension Schemes</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Others</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Regular monthly investments</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Describe yourself as risk taker</label>
                    <select class="form-control">
                        <option>Conservative</option>
                        <option>Balanced</option>
                        <option>Aggressive</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Family expenses every month</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Annual Household Income (post Tax)</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Monthly EMIs</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>How many months do you think you can manage without an income?</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Do you have any Life Insurance policies?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If yes, how much is the cover?</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Do you have Health Insurance cover?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If yes, how much is the cover?</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>DDo you have critical illness cover?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If yes, how much is the cover?</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Do you have accidental disability insurance?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If yes, how much is the cover?</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Are all your assets insured for risks like fire / earthquake / theft etc?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Is your family aware of all assets you own and loans you have to pay?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option selected="selected">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>