{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block content -%}

    <div class="page-header">
        <h1>Family Details</h1>
    </div>
	
	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}
	
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
				{% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
						<li>
							<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
						</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
						<li class="active">
							<a href="javascript:void(0)">Family Details</a>
						</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
						<li>
							<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
						</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
						<li>
							<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
						</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
						<li>
							<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
						</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
						<li>
							<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
						</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
						<li>
							<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
						</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">Family Details</a>
					</li>
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
				{% endif %}
            </ul>
            <div class="tab-content tab-content-bordered">
                <div class="panel">
                    <div class="panel-body">
                        {% include 'CoreBundle::globalMessage.html.twig'%}
                        <form id="familyDetailsForm" name="familyDetailsForm" method="post" action="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">
                            <div class="control-group form-horizontal">
                                {% if familyDetails is defined and familyDetails|length > 0 %}
                                {% for familyMember in familyDetails %}
                                <div class="row">
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">First Name</label>
                                                        <input class="form-control col-md-12" type="text" value="{{ familyMember.firstName }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Last Name</label>
                                                        <input class="form-control col-md-12" type="text" value="{{ familyMember.lastName }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <label class="control-label" for="reportStartDate">DOB</label>
                                                    <div class="input-group multipleDatepickerControl date">
                                                        <input class="form-control col-md-12" type="text" value="{{ familyMember.dob|date("d-m-Y") }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Relation</label>
                                                        <input class="form-control col-md-12" type="text" value="{{ familyMember.relation }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Occupation</label>
                                                        <input class="form-control col-md-12" type="text" value="{{ familyMember.occupation }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label col-md-12 col-sm-12">&nbsp;</label>
                                                        <div><a class="removeFamilyMember" id="{{ path('_core_user_remove_family_detail', {'userId': app.request.get('userId'), 'familyMemberId': familyMember.id }) }}" href="javascript:void(0);"> (-) Remove</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                <div class="row form-fields">
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">First Name</label>
                                                        <input class="form-control col-md-12" type="text" name="familyDetails[firstName][]" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Last Name</label>
                                                        <input class="form-control col-md-12" type="text" name="familyDetails[lastName][]">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <label class="control-label" for="reportStartDate">DOB</label>
                                                    <div class="input-group multipleDatepickerControl date">
                                                        <input class="form-control" type="text" name="familyDetails[dob][]" pattern="\d{1,2}-\d{1,2}-\d{4}" placeholder="dd-mm-yyyy" required>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Relation</label>
                                                        <input class="form-control col-md-12" type="text" name="familyDetails[relation][]" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label" for="reportStartDate">Occupation</label>
                                                        <select class="form-control col-md-12" required="required" name="familyDetails[occupation][]" required>
                                                            <option value="" selected="selected">Select</option>
                                                            {% for occupation in occupations %}
                                                                <option value="{{ occupation }}">{{ occupation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group col-sm-12">
                                                        <label class="control-label col-md-12 col-sm-12">&nbsp;</label>
                                                        <div class="remove"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-right">
                                        <a class="btn btn-primary addMore" href="javascript:void(0);"> + Add More</a> &nbsp;
                                        <button class="btn btn-primary" type="submit" id="saveFamilyDetails">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="removeFamilyMemberListForm" id="removeFamilyMemberListForm" action="" method="POST">
        <input type="hidden" name="remove" />
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.addMore').click(function(){
                $('.form-fields:first')
                        .clone()
                        .insertAfter('.form-fields:last').find("input[type='text']").val("");

                $('.form-fields:last .remove').html('<a href="javascript:void(0);"> (-) Remove</a>');
                $('.form-fields:last').show();
            });

            $("body").delegate( ".remove a", "click", function(event){
                $(this).closest("div.form-fields").remove();
            });

            //Confirmation before deleting all records
            $( "body" ).delegate( ".removeFamilyMember", "click", function(event) {

                $('#removeFamilyMemberListForm').attr('action', $(this).attr('id'));

                $('#wbsModal .modal-title').html($("#deleteLabel").html());
                $('#wbsModal .modal-body').html($('#removeMsg').html());
                $('#wbsModal .modal-footer').html('<button type="button" class="btn btn-primary" id="removeDriverImportList">'+$("#deleteLabel").html()+'</button><button type="button" class="btn btn-default" data-dismiss="modal">'+$("#cancelLabel").html()+'</button>');
                $('#wbsModal').modal('show');
            });

            //Delete all records after ajax call
            $("body").delegate( "#removeDriverImportList", "click", function(event) {
                $('#removeFamilyMemberListForm').submit();
            });
        });
    </script>
{% endblock %}