{% extends 'CoreBundle::2columns-left.html.twig' %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block metaTitle %}Goal - FHC{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Add Goal</h1>
    </div>

	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}
	
    <div class="row">
        <div class="col-md-10">
		<ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
			{% if app.user.isAdmin != true %}
				{% if 'editClient' in actions %}
				<li>
					<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
				</li>
				{% endif %}
				{% if 'clientFamilyDetail' in actions %}
				<li>
					<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
				</li>
				{% endif %}
				{% if 'clientGoalList' in actions %}
				<li class="active">
					<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
				</li>
				{% endif %}
				{% if 'clientUpload' in actions %}
				<li>
					<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
				</li>
				{% endif %}
				{% if 'clientNotes' in actions %}
				<li>
					<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
				</li>
				{% endif %}
				{% if 'clientAssumptions' in actions %}
				<li>
					<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
				</li>
				{% endif %}
				{% if 'clientGoalReport' in actions %}
				<li>
					<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
				</li>
				{% endif %}
			{% else %}
				<li>
					<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
                </li>
				
				<li>
                    <a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
                </li>
                <li class="active">
                    <a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
                </li>
                <li>
                    <a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
                </li>
                <li>
                    <a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
                </li>
                <li>
                    <a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
                </li>
				<li>
					<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
				</li>
			{% endif %}			
            </ul>
            <div class="tab-content tab-content-bordered">
				{{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
					<div class="panel">
						<div class="panel-heading">
							<span class="panel-title">Goal details</span>
						</div>

						<div class="panel-body">
							{% include 'CoreBundle::globalMessage.html.twig'%}

							{% if errors is defined and errors|length>0 %}
								<div class="alert alert-danger alert-dismissable" style="display:block">
									<i class="fa fa-ban"></i>
									<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
									<span>{{errors.0.message}}</span>
								</div>
							{% else %}
								{% if customErrors is defined and customErrors|length>0 %}
									<div class="alert alert-danger alert-dismissable" style="display:block">
										<i class="fa fa-ban"></i>
										<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
										<span>{{ customErrors[0] }}</span>
									</div>
								{% endif %}
							{% endif %}
							
							<div class="control-group">

								<div class="row">
									<div class="col-sm-2">
										<div class="form-group">
											{{ form_label(form.clientGoalType) }}
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											{{ form_widget(form.clientGoalType) }}
										</div>
									</div>

									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<div class="form-group">
											{{ form_label(form.name) }}
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											{{ form_widget(form.name) }}
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-sm-2">
										<div class="form-group">
											<label>Target date</label>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<div class='input-group date' id='datetimepicker1'>
												<input type='text' class="form-control" name="targetDate"/>
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            {{ form_label(form.value) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ form_widget(form.value) }}
                                        </div>
                                    </div>
								</div>
							<br/><br/>
							</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Asset Details</span>
					</div>

					<div class="panel-body">
						<div class="control-group">
							
							<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table">
								<thead>
									<tr>
										<th>Asset</th>
										<th>Value</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><select name="asset[]" class="form-control asset">
											<option value="0" selected="selected">
												Select
											</option>
											{% if assets is defined and assets|length>0 %}
											{% for asset in assets %}
											<option value="{{ asset.id }}">
												{{ asset.name }}
											</option>
											{% endfor %}
											{% endif %}
										</select></td>
										<td><input type="text" name="assetValue[]" class="form-control assetValue"></td>
										<td>
											<button type="button" class="btn btn-primary btn-sm addRow"><i class="fa fa-plus"></i></button>&nbsp;
											<button type="button" class="btn btn-primary btn-sm removeRow"><i class="fa fa-minus"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
				{{ form_end(form) }}
                <br><br>
			</div>
    </div>
    <select class="hide defaultAssets">
        {% if assets is defined and assets|length>0 %}
            {% for asset in assets %}
                <option value="{{ asset.id }}">
                    {{ asset.name }}
                </option>
            {% endfor %}
        {% endif %}
    </select>
	<div id="formTitle" class="hide"> Assets</div>
	<div id="getAssetValue" class="hide">{{ path('_core_goal_asset_value', {'userId': app.request.get('userId')} )}}</div>
	<div id="getAssets" class="hide">{{ path('_core_asset_name') }}</div>
	<form id="assetForm" name="assetForm" action=""></form>
	
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/goalNew.js') }}"></script>
		<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datepicker({
					format: "mm-yyyy",
					viewMode: "months", 
					minViewMode: "months",
					autoclose: true,
					clearBtn:true,
					forceParse: false,
				}).on('changeDate', function(ev){
					$(this).datepicker('hide');
				});
				
				$("#datetimepicker1").keypress(function (e) {
					
					if (e.which == 13) {
						
						e.preventDefault();
						if(checkValidDate($(this).find("input").val()) == false) {
							$(this).datepicker("setDate", new Date("mm-yyyy"));
						}
						return false;
					}
				});
            });
        </script>
	
{% endblock %}
