{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Goals - fhc{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Goals</h1>
		
		{% set keyForModule = 'manageClient' %}
		{% set actions = keyForModule|getPermittedActions %}

        <div class="pull-right">
            <button onclick="location.href='{{ path('_core_client_goal_new', { 'userId' :  app.request.get('userId') }) }}'" title="Add Goal" class="btn btn-primary" type="button">
                <i class="fa fa-plus"></i> Add Goal
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
			<ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
				{% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client' }) }}">View / Edit Client</a>
					</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
					<li class="active">
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client' }) }}">View / Edit Client</a>
					</li>
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					<li class="active">
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					<li>
						<a href="{{ path('_core_client_upload_list', {'userId': app.request.get('userId')}) }}">Documents</a>
					</li>
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
				{% endif %}
			</ul>
			<div class="tab-content tab-content-bordered">
			{% include 'CoreBundle::globalMessage.html.twig'%}

            <div class="showHideColumn">&nbsp;</div>

            <div class="table-primary">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Target year</th>
                            <th>Target month</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if clientGoals is defined and clientGoals|length > 0 %}
							{% for clientGoal in clientGoals %}
                                <tr>
                                    <td>{{ clientGoal.name }}</td>
                                    <td>{% if clientGoal.clientGoalType|length>0 %}{{ clientGoal.clientGoalType.name }}{% endif %}</td>
                                    <td>{{ clientGoal.value }}</td>
                                    <td>{{ clientGoal.year }}</td>
                                    <td>{{ clientGoal.month|getMonthName(clientGoal.year) }}</td>
                                    <td>{{ clientGoal.createdOn|date('d-m-Y') }}</td>
									<td align="center">
										{% if app.user.isAdmin != true %}
											{% if 'clientGoalEdit' in actions %}
												<a href="{{ path('_core_client_goal_edit' , { 'userId' :  app.request.get('userId'), 'clientGoalId':clientGoal.id  }) }}" class="editUser" title="Edit Goal" id=""><i class="fa fa-edit"></i></a>
											{% endif %}
											{% if 'clientGoalDelete' in actions %}
												&nbsp;
												{% if clientGoal.id in usedGoalsArr %}<i class="fa fa-trash-o"></i>{% else %}<a href="javascript:void(0);" class="removeUser" title="Remove" id="{{ path('_core_client_goal_delete', { 'userId' :  app.request.get('userId'), 'clientGoalId':clientGoal.id  }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
											{% endif %}
										
										{% else %}
											<a href="{{ path('_core_client_goal_edit' , { 'userId' :  app.request.get('userId'), 'clientGoalId':clientGoal.id  }) }}" class="editUser" title="Edit Goal" id=""><i class="fa fa-edit"></i></a>
											&nbsp;
										{% if clientGoal.id in usedGoalsArr %}<i class="fa fa-trash-o"></i>{% else %}<a href="javascript:void(0);" class="removeUser" title="Remove" id="{{ path('_core_client_goal_delete', { 'userId' :  app.request.get('userId'), 'clientGoalId':clientGoal.id  }) }}"><i class="fa fa-trash-o"></i></a>{% endif %}
										{% endif %}
									</td>
								</tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
		</div>
        </div>
    </div>
    <div class="hide">
		<div id="userListTitle">Goal List</div>
		<div id="removeGoalMsg">Are you sure you want to delete this goal?</div>
    </div>
    <form id="goalFrm" name="goalFrm" action="" method="POST"></form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/goal.js') }}"></script>
{% endblock %}