{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}{{ app.request.get('userType')|capitalize }} - fhc{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>{{ app.request.get('userType')|capitalize }}s</h1>
		
		{% set actions = [] %}
		
		{% set permittedModules = app.session.get('modules') %}
		{% set moduleActions = [] %}
		{% set keyForModule = 'manage'~ app.request.get('userType')|capitalize %}
		{% if permittedModules|length>0 and permittedModules[keyForModule] is defined and permittedModules[keyForModule]|length>0 %}
			{% set moduleActions = permittedModules[keyForModule] %}
			{% if moduleActions['slug'] is defined and moduleActions['slug']|length>0 %}
				{% set actions = moduleActions['slug'] %}
			{% endif %}
		{% endif %}
		
		{% if actions is defined and actions|length>0 %}
			{% if 'add'~app.request.get('userType')|capitalize in actions %}
			<div class="pull-right">
				<button onclick="location.href='{{ path('_core_user_new', {'userType': app.request.get('userType')}) }}'" title="addUser" class="btn btn-primary" type="button">
					<i class="fa fa-plus"></i> Add {{ app.request.get('userType')|capitalize }}
				</button>
			</div>
			{% endif %}
		{% endif %}
		
		{% if app.user.isAdmin == true %}
			<div class="pull-right">
				<button onclick="location.href='{{ path('_core_user_new', {'userType': app.request.get('userType')}) }}'" title="addUser" class="btn btn-primary" type="button">
					<i class="fa fa-plus"></i> Add {{ app.request.get('userType')|capitalize }}
				</button>
			</div>
			
		{% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}

            <div class="showHideColumn">&nbsp;</div>

            <div class="table-primary">

                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>Phone</th>
                            {% if app.request.get('userType') != 'dealer' %}
								<th>Occupation</th>
							{% endif %}
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
					    {% if users is defined and users|length > 0 %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.name }} {{ user.lastName }}</td>
                                    <td>{{ user.dob|date("d-m-Y") }}</td>
                                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                    <td>{{ user.mobile }}</td>
                                    {% if app.request.get('userType') != 'dealer' %}
									<td>{{ user.occupation }}</td>
									{% endif %}
                                    <td>{{ user.inactive==true ? 'inactive' : 'active' }}</td>
									<td align="center">
										{% if app.user.isAdmin != true %}
											{% if actions is defined and actions|length>0 %}
												{% if 'edit'~ app.request.get('userType')|capitalize in actions %}
													<a href="{{ path('_core_user_edit' , { 'userId' :  user.id, 'userType': app.request.get('userType')  }) }}" class="editUser" title="Edit User" id=""><i class="fa fa-edit"></i></a>
												&nbsp;
												{% endif %}
												{% if 'clientActiveInactive' in actions %}
													{% if user.inactive == true %}
														<a href="javascript:void(0);" class="activeUser" title="Active" id="{{ path('_core_user_inactive', {'userId': user.id, 'status': 0, 'userType': app.request.get('userType')}) }}"><i class="fa fa-unlock"></i></a>
													{% else %}
														<a href="javascript:void(0);" class="inactiveUser" title="In Active" id="{{ path('_core_user_inactive', {'userId': user.id, 'status': 1, 'userType': app.request.get('userType')}) }}"><i class="fa fa-lock"></i></a>
													{% endif %}
													&nbsp;
												{% endif %}
												{% if 'delete'~ app.request.get('userType')|capitalize in actions %}
													<a href="javascript:void(0);" class="removeUser" title="Remove" id="{{ path('_core_user_delete', {'userId': user.id, 'userType': app.request.get('userType')}) }}"><i class="fa fa-trash-o"></i></a>
													&nbsp;
												{% endif %}
												{% if 'pdfGenerate' in actions and app.request.get('userType') == 'client' %}
													<a href="{{ path('_core_pdf_generate' , { 'userId' :  user.id }) }}" class="downloadUser" target="_blank" title="Download Report" id=""><i class="fa fa-download"></i></a>
													&nbsp;
												{% endif %}
												{% if 'update'~app.request.get('userType')|capitalize~'Permissions' in actions %}
													<a href="{{ path('_core_update_user_permissions' , { 'userType' : app.request.get('userType'), 'userId' :  user.id }) }}" class="downloadUser" title="Update Permissions" id=""><i class="fa fa-key"></i></a>
												{% endif %}
											{% endif %}											
										{% else %}
											<a href="{{ path('_core_user_edit' , { 'userId' :  user.id, 'userType': app.request.get('userType')  }) }}" class="editUser" title="Edit User" id=""><i class="fa fa-edit"></i></a>
											&nbsp;
											{% if user.inactive == true %}
												<a href="javascript:void(0);" class="activeUser" title="Active" id="{{ path('_core_user_inactive', {'userId': user.id, 'status': 0, 'userType': app.request.get('userType')}) }}"><i class="fa fa-unlock"></i></a>
											{% else %}
												<a href="javascript:void(0);" class="inactiveUser" title="In Active" id="{{ path('_core_user_inactive', {'userId': user.id, 'status': 1, 'userType': app.request.get('userType')}) }}"><i class="fa fa-lock"></i></a>
											{% endif %}
											&nbsp;
											<a href="javascript:void(0);" class="removeUser" title="Remove" id="{{ path('_core_user_delete', {'userId': user.id, 'userType': app.request.get('userType')}) }}"><i class="fa fa-trash-o"></i></a>
											&nbsp;
											{% if app.request.get('userType') == 'client' %}
											<a href="{{ path('_core_pdf_generate' , { 'userId' :  user.id }) }}" class="downloadUser" target="_blank" title="Download Report" id=""><i class="fa fa-download"></i></a>
											&nbsp;
											{% endif %}
											<a href="{{ path('_core_update_user_permissions' , { 'userType' : app.request.get('userType'), 'userId' :  user.id }) }}" class="downloadUser" title="Update Permissions" id=""><i class="fa fa-key"></i></a>
										{% endif %}
									</td>
								</tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="hide">
		<div id="userListTitle">{{ app.request.get('userType')|capitalize }} List</div>
		<div id="activeUserHtml">Are you sure you want to activate this {{ app.request.get('userType')|capitalize }}?</div>
		<div id="inactiveUserHtml">Are you sure you want to deactivate this {{ app.request.get('userType')|capitalize }}?</div>
    </div>
    <form id="userFrm" name="userFrm" action="" method="POST"></form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/user.js') }}"></script>
{% endblock %}