{% extends 'CoreBundle::2columns-left.html.twig' %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block metaTitle %}{{ app.request.get('userType')|capitalize }} - FHC{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Add {{ app.request.get('userType')|capitalize }}</h1>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Personal details</span>
                </div>

                <div class="panel-body">
                    {% include 'CoreBundle::globalMessage.html.twig'%}

                    {% if errors is defined and errors|length>0 %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{errors.0.message}}</span>
                        </div>
                    {% elseif passwordError is defined and passwordError!='' %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{passwordError}}</span>
                        </div>
                        <input type="hidden" name="donotDisable" id="donotDisable" value="1" />
                    {% elseif customError is defined and customError|length>0 %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{ customError }}</span>
                        </div>
                    {% endif %}

                    {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}

                    <div class="control-group">

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>

                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.lastName) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.lastName) }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.mobile) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.mobile) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.password.first) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.password.first) }}
                                </div>
                            </div>

                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.password.second) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.password.second) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.dob) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.dob) }}
                                </div>
                            </div>

                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.gender) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.gender) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.maritalStatus) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.maritalStatus) }}
                                </div>
                            </div>
							{% if app.request.get('userType') == 'client'%}
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.occupation) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.occupation) }}
                                </div>
                            </div>
							{% endif %}
							{% if app.request.get('userType') == 'dealer'%}
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <label for="swan_corebundle_dealer_company">Company&nbsp;<span class="requiredField">*</span></label>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control " type="text" id="swan_corebundle_dealer_company" name="dealer_company" required="required">
                                </div>
                            </div>
							{% endif %}
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    {{ form_label(form.pincode) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_widget(form.pincode) }}
                                </div>
                            </div>
                        </div>
                    </div>
					
					{#<fieldset class="scheduler-border">
                        <legend class="scheduler-border">roles</legend>
                        {% if roles is defined and roles|length > 0 %}
							
							{% for role in roles %}
								<label class="radio">
									<input type="radio" name="roles[]" value="{{role.id}}" class="px" {% if role.slug == 'customer' %}checked{% endif %}>
									<span class="lbl">{{ role.name }}</span>
								</label>
							
							{% endfor %}                        
                        {% endif %}
					</fieldset>#}

                    {{ form_end(form) }}
 
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/user-edit.js') }}"></script>
{% endblock %}
