<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Personal Details</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control">
                                <option selected="selected">Mr</option>
                                <option>Mrs</option>
                                <option>Dr</option>
                                <option>M/S</option>
                                <option>Master</option>
                                <option>Miss</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control">
                        <option selected="selected">Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Marital Status</label>
                    <select class="form-control">
                        <option selected="selected">Single</option>
                        <option>Married</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Occupation</label>
                    <select class="form-control">
                        <option selected="selected">Business</option>
                        <option>Service</option>
                        <option>Housewife</option>
                        <option>Student</option>
                        <option>Retired</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>PAN</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Contact Details</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address 1</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control">
                        <option selected="selected">India</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control">
                        <option selected="selected">Ludhiana</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address 2</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <select class="form-control">
                        <option selected="selected">Punjab</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pin Code</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Origination Details</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Source</label>
                    <select class="form-control">
                        <option selected="selected">Online Direct</option>
                        <option>Direct</option>
                        <option>Referral</option>
                        <option>Seminar</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Referred By</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group nopadding-bottom">
                    <label>Interested In</label>
                </div>

                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Retirement Planning
                    </label>
                </div>
                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Tax Planning
                    </label>
                </div>
                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Mutual Funds
                    </label>
                </div>
                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Life Insurance
                    </label>
                </div>
                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Loans
                    </label>
                </div>
                <div class="form-group nopadding-bottom">
                    <label>
                        <input type="checkbox" class="flat-red">
                        Other Investment Schemes
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>