{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Role Permissions{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Role Permissions</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="table-primary">
                <form id="userFrm" name="userFrm" action="" method="POST">
                    {% if roles is defined and roles|length > 0 %}
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
                        <thead>
                            <tr>
                                <th>Page Name</th>
                                {% for role in roles %}
                                    <th>{{ role['name'] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if modules is defined and modules|length > 0 %}
                                {% for module in modules %}
                                    {% if module.slug != 'manageDealer' %}
                                        <tr id="{{ module.id }}">
                                            <td><b>{{ module.name|replace({'_': ' '}) }}</b></td>
                                            {% for role in roles %}
                                                <td><input type="checkbox" class="mainModuleInput parentModulesFor_{{ module.id }}_{{ role.slug }}" data-id="{{ module.id }}_{{ role.slug }}" ></td>
                                            {% endfor %}
                                        </tr>
                                        {% for actionDetail in module.moduleAction %}
                                        <tr id="moduleChild_{{ module.id }}" class="bckgClr childRow">
                                            <td class="childRow">{{ actionDetail.name }}</td>
                                            {% for role in roles %}
                                                {% set selectedRoleModule = permissionsArray|checkIfRoleSelected(role['id'], actionDetail.id) %}
                                                <td><input type="checkbox" {{ selectedRoleModule }} class="childModuleAction childModulesFor_{{ module.id }}_{{ role.slug }}" data-id="{{ module.id }}_{{ role.slug }}" name="{{ role['id'] }}[{{ actionDetail.id }}]"></td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5">
                                    <input type="submit" value="Update Permissions" class="btn btn-primary pull-right">
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script language="javascript">
        $(document).ready(function() {

            // add multiple select / deselect functionality
            $('body').delegate(".mainModuleInput", 'click', function(){

                var dataId = $(this).attr('data-id');
                var mainChecked = this.checked;
                $('.childModulesFor_'+dataId).each(function () {

                    $(this).attr('checked', mainChecked);
                });
            });

            // if all checkbox are selected, check the selectall checkbox
            // and vice versa
            $('body').delegate(".childModuleAction", 'click', function(){

                var dataId = $(this).attr('data-id');
                if($(".childModulesFor_"+dataId).length == $(".childModulesFor_"+dataId+":checked").length) {
                    $(".parentModulesFor_"+dataId).attr("checked", "checked");
                } else {
                    $(".parentModulesFor_"+dataId).removeAttr("checked");
                }
            });

            $('.mainModuleInput').each(function () {

                var dataId = $(this).attr('data-id');
                if($(".childModulesFor_"+dataId).length == $(".childModulesFor_"+dataId+":checked").length) {
                    $(".parentModulesFor_"+dataId).attr("checked", "checked");
                } else {
                    $(".parentModulesFor_"+dataId).removeAttr("checked");
                }
            });
        });
    </script>
{% endblock %}
