{% extends 'CoreBundle::2columns-left.html.twig' %}

{% block metaTitle %}Module Permissions{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/core/css/jquery-ui.css') }}">
{% endblock %}
{% block content -%}
    <div class="page-header">
        <h1>Module Permissions</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'CoreBundle::globalMessage.html.twig'%}
            <div class="table-primary">
                <form id="userFrm" name="userFrm" action="" method="POST">
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table" id="jq-datatables">
                        <thead>
                            <tr>
                                <th>Module Name</th>
                                <th>Manage Permissions</th>
								<th></th>
                            </tr>
                        </thead>
                        <tbody>
							
							{% if modules is defined and modules|length > 0 %}
                                {% for module in modules %}
                                    {% if module.slug != 'manageDealer' %}
                                        <tr id="{{ module.id }}">
                                            <td><b>{{ module.name|replace({'_': ' '}) }}</b></td>
                                            <td><input type="checkbox" class="mainModuleInput" id="parentModulesFor_{{ module.id }}" data-id="{{ module.id }}" ></td>
                                            <td></td>
                                        </tr>
                                        {% if module.moduleAction is defined and module.moduleAction|length>0 %}
                                            {% for moduleAction in module.moduleAction %}
                                                <tr id="{{ moduleAction.id }}" class="bckgClr childRow">
                                                    <td class="childRow">{{ moduleAction.name }}</td>
                                                    <td><input type="checkbox" class="childModuleAction moduleActionInput childModulesFor_{{ module.id }}" name="moduleActions[]" value="{{ moduleAction.id }}" {% if moduleAction.id in assignedModuleIdArr %}checked="checked"{% endif %}></td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
								{% endfor %}
							{% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5">
                                    <input type="submit" value="Update Permissions" class="btn btn-primary pull-right">
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('bundles/core/js/jquery-ui.js') }}" type="text/javascript"></script>
  
    <script language="javascript">
        
		$(document).ready(function() {
			
			$(function() {
			$( ".moduleActionElement" ).combobox();
		  });
			
			$("#addNewPermission").live('click', function() {	
				
				var rowId = $(this).closest('tr').find('.moduleActionElement').val();
				var rowText = $(this).closest('tr').find('.moduleActionElement option:selected').text();
				var rowHtml = '<tr id="'+rowId+'" class="bckgClr">';
				rowHtml += '<td><b>'+rowText+'</b></td>';
				rowHtml += '<td><input type="checkbox" name="moduleActions[]" value="'+rowId+'" checked="checked"></td>';
				rowHtml += '<td><i class="fa fa-asterisk"></i></td>';
				rowHtml += '</tr>';
				if($('#jq-datatables tr > td:contains('+rowText+')').length<=1) {
					$('#jq-datatables > tbody > tr').eq(0).after(rowHtml);
				}
				$('.custom-combobox-input').val("");
				
				return false;
			});
			
			$('.mainModuleInput').each(function(){
				var moduleId = $(this).attr('id');
				childModuleId = moduleId.replace("parent", "child");
				var inputCount = 0;
				var checkedInputCount = 0;
				var unCheckedInputCount = 0;
			
				$('.'+childModuleId).each(function() {
					inputCount++;
					if(this.checked) {
						checkedInputCount++;
					} else {
						unCheckedInputCount++;
					}
				});
				
				if(inputCount == checkedInputCount) {
					$('#'+moduleId).attr('checked', true);
				}
				
				if(inputCount == unCheckedInputCount) {
					$('#'+moduleId).attr('checked', false);
				}
				
			});
			
			$('.mainModuleInput').click(function(){
				
				var moduleId = $(this).attr('id');
				moduleId = moduleId.replace("parent", "child");

				if (this.checked) {
					$('.'+moduleId).each(function(){
						$(this).attr('checked', true);
					});
				} else {
					$('.'+moduleId).each(function(){
						$(this).attr('checked', false);
					});
				}
			});
			
        });
    </script>
{% endblock %}
