{% block content -%}
{% if app.user.isAdmin == true %}
<form method="post" name="swithCompany" action="{{ path('_core_switch_company') }}">

<div class="pull-right" style="padding:5px;">
	{% if app.user.isAdmin %}
		<button name="btnSubmit" id="" type="submit" class="btn btn-primary" title="Switch">Switch</button>
	{% endif %}
</div>


<div class="pull-right col-md-2" style="padding:5px;">
    <select id="select2-companies" class="form-control" name="company">			
		{% if userCompanies is defined and userCompanies|length > 0 %}
			{% for userCompany in userCompanies %}			
				<option value="{{ userCompany.id }}" {% if app.session.get('company') == userCompany.id %}selected{% endif %} >{{ userCompany.name }}</option>				
			{% endfor %}
		{% endif %}
	</select>
	</div>
</form>	
{% endif %}    
{% endblock %}
