{% extends 'CoreBundle::2columns-left.html.twig' %}

{%block metaTitle%}Client Uploads - wbs{% endblock %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block content -%}
    <div class="page-header">
        <h1>Client</h1>
    </div>
    
	{% set keyForModule = 'manageClient' %}
	{% set actions = keyForModule|getPermittedActions %}
	
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
                {% if app.user.isAdmin != true %}
					{% if 'editClient' in actions %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					{% endif %}
					{% if 'clientFamilyDetail' in actions %}
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					{% endif %}
					{% if 'clientGoalList' in actions %}
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					{% endif %}
					{% if 'clientUpload' in actions %}
					<li class="active">
						<a href="javascript:void(0)">Documents</a>
					</li>
					{% endif %}
					{% if 'clientNotes' in actions %}
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					{% endif %}
					{% if 'clientAssumptions' in actions %}
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					{% endif %}
					{% if 'clientGoalReport' in actions %}
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{ path('_core_user_edit', {'userId': app.request.get('userId'), 'userType': 'client'}) }}">View / Edit Client</a>
					</li>
					
					<li>
						<a href="{{ path('_core_user_family_details', {'userId': app.request.get('userId')}) }}">Family Details</a>
					</li>
					<li>
						<a href="{{ path('_core_user_goals', {'userId': app.request.get('userId')}) }}">Goals</a>
					</li>
					<li class="active">
						<a href="javascript:void(0)">Documents</a>
					</li>
					<li>
						<a href="{{ path('_core_note_new', {'entity' : 'client', 'entityId': app.request.get('userId')}) }}">Notes</a>
					</li>
					<li>
						<a href="{{ path('_core_user_assumption', {'userId': app.request.get('userId')}) }}">Assets & Assumptions</a>
					</li>
					<li>
						<a href="{{ path('_core_goal_report_list', {'userId': app.request.get('userId')}) }}">Goals Report</a>
					</li>
				{% endif %}
            </ul>                
            <div class="tab-content tab-content-bordered">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Upload File</span>
                    </div>
                
                    <div class="panel-body">
                        {% include 'CoreBundle::globalMessage.html.twig'%}
                        
                        {% if errors is defined and errors|length>0 %}
                            <div class="alert alert-danger alert-dismissable" style="display:block">
                                <i class="fa fa-ban"></i>
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <span>{{errors.0.message}}</span>
                            </div>
                        {% endif %}
                        {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
							<div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.documentType) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.documentType) }}
                                    </div>
                                </div>
							</div>
							<div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.file) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.file) }}
                                    </div>
                                </div>
                            </div>
						{{ form_end(form) }}
						
                    </div>
                </div>
                
				<div class="table-primary">
				
					<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
						<thead>
							<tr>
								<th width="55%">File name</th>
								<th width="30%">Document Type</th>
								<th width="15%">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% if uploads is defined and uploads|length >0 %}
								{% for upload in uploads %}
									<tr>
										<td>{{ upload.originalFileName }}</td>
										<td>{{ upload.documentType.name }}</td>
										<td align="center">
											{% if app.user.isAdmin != true %}
												{% if 'downloadClientUpload' in actions %}
													<a href="{{ path('_core_client_upload_download', {'userId': app.request.get('userId'), 'uploadId': upload.id }) }}" title="Download"><i class="fa fa-download"></i></a>
												{% endif %}
												{% if 'deleteClientUpload' in actions %}
													&nbsp;&nbsp;
													<a id="{{ path('_core_client_upload_delete', {'userId': app.request.get('userId'), 'uploadId': upload.id }) }}" href="javascript:void(0)" class="deleteClientUpload" title="Delete"><i class="fa fa-trash-o"></i></a>
												{% endif %}
											{% else %}
												<a href="{{ path('_core_client_upload_download', {'userId': app.request.get('userId'), 'uploadId': upload.id }) }}" title="Download"><i class="fa fa-download"></i></a>
												&nbsp;&nbsp;
												<a id="{{ path('_core_client_upload_delete', {'userId': app.request.get('userId'), 'uploadId': upload.id }) }}" href="javascript:void(0)" class="deleteClientUpload" title="Delete"><i class="fa fa-trash-o"></i></a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
                
          </div> <!-- TAB DIV ENDS -->
          
        </div>
    </div>
    
    <div class="hide">
		<div id="clientUploadListTitle">Client upload list</div>
		
		<form id="deleteClientUploadFrm" name="deleteClientUploadFrm" method="post">
			<input type="hidden" name="removeUrl" id="removeUrl" value="">
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/upload-client.js') }}"></script>
{% endblock %}