{% extends 'CoreBundle::2columns-left.html.twig' %}

{%block metaTitle%}Vehicle Uploads - wbs{% endblock %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block content -%}
    <div class="page-header">
        <h1>Vehcile</h1>
    </div>
        
    <div class="row">
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="uidemo-tabs-default-demo">
                <li>
                    <a href="{{ path('_core_vehicle_edit', {'vehicleId': app.request.get('vehicleId')}) }}">View / Edit Vehicle</a>
                </li>
                <li class="active">
                    <a data-toggle="tab" href="#uidemo-tabs-default-demo-home">Vehicle Uploads</a>
                </li>
                <li>
                    <a href="{{ path('_core_vehicle_driver_allocation_list', {'vehicleId': app.request.get('vehicleId')}) }}">allocations</a>
                </li>
                <li>
                    <a href="{{ path('_core_vehicle_contract_list', {'vehicleId': app.request.get('vehicleId')}) }}">contract</a>
                </li>
                <li class="">
                    <a href="{{ path('_core_note_new', {'entity':'vehicle', 'entityId': app.request.get('vehicleId')}) }}">Notes</a>
                </li>
            </ul>                
            <div class="tab-content tab-content-bordered">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Upload File</span>
                    </div>
                
                    <div class="panel-body">
                        {% include 'CoreBundle::globalMessage.html.twig'%}
                        
                        {% if errors is defined and errors|length>0 %}
                            <div class="alert alert-danger alert-dismissable" style="display:block">
                                <i class="fa fa-ban"></i>
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <span>{{errors.0.message}}</span>
                            </div>
                        {% endif %}
                        {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}
							<div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.documentType) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.documentType) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.file) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.file) }}
                                    </div>
                                </div>
                            </div>
						{{ form_end(form) }}
						
                    </div>
                </div>
                
				<div class="table-primary">
				
					<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped" id="jq-datatables">
						<thead>
							<tr>
								<th width="55%">File name</th>
								<th width="30%">Document Type</th>
								<th width="15%">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% if uploads is defined and uploads|length >0 %}
								{% for upload in uploads %}
									<tr>
										<td>{{ upload.originalFileName }}</td>
										<td>{{ upload.documentType.name }}</td>
										<td align="center">
											<a href="{{ path('_core_vehicle_upload_download', {'vehicleId': app.request.get('vehicleId'), 'uploadId': upload.id }) }}" title="Download"><i class="fa fa-download"></i></a>
											&nbsp;&nbsp;
											<a id="{{ path('_core_vehicle_upload_delete', {'vehicleId': app.request.get('vehicleId'), 'uploadId': upload.id }) }}" href="javascript:void(0)" class="deleteVehicleUpload" title="Delete"><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
                
          </div> <!-- TAB DIV ENDS -->
          
        </div>
    </div>
    
    <div class="hide">
		<div id="vehicleUploadListTitle">Vehicle upload list</div>
		
		<form id="deleteVehicleUploadFrm" name="deleteVehicleUploadFrm" method="post">
			<input type="hidden" name="removeUrl" id="removeUrl" value="">
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/upload-vehicle.js') }}"></script>
{% endblock %}
