{% extends 'CoreBundle::1column-login.html.twig' %}
 

{% block metaTitle %}FHC - Sign In{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/angular.min.js') }}"></script>
{% endblock %}
{% block content -%}

	<!-- Page background -->
	<div id="page-signin-bg">
	</div>	
	<!-- / Page background -->
	<div class="signin-container" ng-app>	
		<div class="signin-form">
			<form  autocomplete="off" action="{{ path('_core_user_login_check') }}" id="signin-form_id" method="post" novalidate>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<input type="hidden" name="_target_path" value="/" />
				<div class="signin-text">
					<h3>FHC - Login</h3>
				</div>
                {% if error %}
                    <div class="alert alert-danger">
                        Invalid Credentials
                    </div>
                {% endif %}
				<div class="form-group input_field">
					<input  ng-model="user" ng-init="user='{% if error %}{{last_username}}{%endif%}'" ng-class="user ? 'filled' : 'empty'" type="text" name="_username" value="{{ last_username }}" id="username_id" class="sign-in-field {% if error %}invalid-credentials{% endif %}">
					<label>Username</label>
				</div>
				<div class="form-group input_field">
					<input  ng-model="pass" ng-init="pass=''" ng-class="pass ? 'filled' : 'empty'" autocomplete='off' type="password" name="_password" id="password" class="sign-in-field {% if error %}invalid-credentials{% endif %}" >
					<label>Password</label>
				</div>
				<div class="form-actions">
					<input type="submit" value="SIGN IN" class="signin-btn bg-primary">
				</div>
			</form>
		</div>
	</div>
	<script>
		var app = angular.module('myApp',[]);
	  
		angular.element(document).ready(function() {
		  angular.bootstrap(document, ['myApp']);
		});
	</script>
{% endblock %}