{% extends 'CoreBundle::2columns-left.html.twig' %}

{% form_theme form 'CoreBundle:Theme:formTheme.html.twig' %}

{% block metaTitle %}companySetting - wbs{% endblock %}

{% block stylesheets %}
<!--[if IE]>
<style>
    .scheduler-border .treeview .last {
	margin-left:16px !important;   
    }
</style>
<![endif]-->
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>companySetting</h1>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">ViewEditCompanySetting</span>
                </div>

                <div class="panel-body">
                    {% include 'CoreBundle::globalMessage.html.twig'%}

                    {% if errors is defined and errors|length>0 %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{errors.0.message}}</span>
                        </div>
                    {% elseif passwordError is defined and passwordError!='' %}
                        <div class="alert alert-danger alert-dismissable" style="display:block">
                            <i class="fa fa-ban"></i>
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <span>{{passwordError}}</span>
                        </div>
                        <input type="hidden" name="donotDisable" id="donotDisable" value="1" />
                    {% endif %}

                    {{ form_start(form, {attr: {novalidate: 'novalidate'}},  {'method': 'POST'}) }}

                    <fieldset class="scheduler-border hide">
                        <legend class="scheduler-border">companySetting</legend>
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.allocationMethod) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.allocationMethod) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.file) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.file) }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
								 <div class="col-sm-2">
									{% if (companySetting.logo != '') %}
											<img src="{{ path('_core_company_setting_logo', {'companySettingId' : companySetting.id }) }}" style="max-height:90px">
										{% endif %}
								</div>
							</div>

                        </div>
                    </fieldset>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">emailContactSettings</legend>
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.companyHrEmail) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.companyHrEmail) }}
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3 hide">
                                    <div class="form-group">
                                        {{ form_label(form.companyVehicleSystemEmail) }}
                                    </div>
                                </div>
                                <div class="col-sm-3 hide">
                                    <div class="form-group">
                                        {{ form_widget(form.companyVehicleSystemEmail) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">emailSending</legend>
                        <div class="control-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.fromEmail) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.fromEmail) }}
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_label(form.fromEmailPassword) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.fromEmailPassword) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.fromName) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.fromName) }}        
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_label(form.encryption) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.encryption) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        {{ form_label(form.smtpHost) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.smtpHost) }}
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_label(form.smtpPort) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_widget(form.smtpPort) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(form) }}
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function(){
            if ('{{ password }}'!='') {
                $('#swan_corebundle_companysetting_fromEmailPassword').val('{{ password }}')
            }
        }); 
    </script>
{% endblock %}